:host ::ng-deep th.mat-header-cell{
    font-size: 14px;
    font-weight: 600;
    color: #FF4F00;
    font-family: Montserrat;
}
.table .td.mat-cell{
    font-family: Montserrat;
}
:host ::ng-deep tr.mat-header-row{
    border-bottom: 2px solid #18A0FB;
}
:host ::ng-deep table.mat-table{
    background: #fff;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.16);
}
:host ::ng-deep mat-paginator{
    margin-top: 3px;
    background: #FFFFFF;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.16);
}
.data-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}
:host ::ng-deep .mat-paginator-page-size{
  display: none;
}