<ng-container *ngIf="check$ | async"></ng-container>
<ng-container *ngIf="Locs$ | async"></ng-container>
<ng-container *ngIf="openLoc$ | async"></ng-container>
<ng-container *ngIf="closedLoc$ | async"></ng-container>
<ng-container *ngIf="getLocInfo$ | async"></ng-container>
<ng-container *ngIf="liveData$ | async"></ng-container>
<ng-container *ngIf="resetLoc$ | async"></ng-container>
<ng-container *ngIf="checkOutQR$ | async"></ng-container>
<ng-container *ngIf="checkIn$ | async"></ng-container>
<div class="col-md-12 pt-2">
    <mat-accordion>
        <mat-expansion-panel class="mt-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="header-panel">
                <mat-panel-title class="title-text">{{panelOpenState ? hideDetails : seeDetails}}</mat-panel-title>
                <mat-panel-description>
                     {{(textOpenLocation != '' &&  operationText != '' ? textOpenLocation + ' :  ' + operationText : '')}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row space-row mt-2 mb-2">
                <div class="col-sm-3 col-md-6 p-0 m-auto">
                    <div class="row">
                        <button mat-icon-button color="primary" class="col-md-1 learn-btn" (click)="learnMore(26)">
                            <mat-icon>help</mat-icon>
                        </button>
                        <mat-slide-toggle class="col-md-9" color="primary" [(ngModel)]="locationStatus" (change)="locationStatusChange()">{{textOpenLocation}}</mat-slide-toggle>
                    </div>
                    <div class="row">
                        <button mat-stroked-button class="action-buttons" color="secondary" type="button" (click)="resetLocation()" i18n="Reset|text in citas@@host.reset">Reset Location</button>
                        <button type="button" mat-icon-button color="primary" class="learn-btn-0" (click)="learnMore(44)">
                            <mat-icon>help</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="operation-buttons col-sm-9 col-md-6 p-0">
                    <mat-form-field appearance="fill" class="pr-3">
                        <mat-label>Select location</mat-label>
                        <mat-select name="locations" [(value)]="locationId" (selectionChange)="onLocationChange($event)">
                            <mat-option *ngFor="let item of locations" [value]="item.LocationId">
                            {{item.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="pr-3">
                        <mat-label>Select provider</mat-label>
                        <mat-select name="providers" [(value)]="providerId" (selectionChange)="onServiceChange($event)">
                            <mat-option class="" value="0" i18n="all providers@@shared.allproviders">ALL PROVIDERS</mat-option>
                            <mat-option *ngFor="let item of Providers" [value]="item.ProviderId">
                            {{item.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="qr-space">
        <div class="row space-row">
            <div *ngIf="locationStatus == 1" class="col-md-2" [ngClass]="{
                'qty-people-white': perLocation < 80,
                'qty-people-black': perLocation < 95,
                'qty-people-white-02': perLocation >= 95}">{{qtyPeople}}</div>
            <mat-progress-bar *ngIf="locationStatus == 1" [ngClass]="{
                'green-bar': perLocation < 80,
                'yellow-bar': perLocation < 95,
                'red-bar': perLocation >= 95
            }" mode="determinate" [value]="perLocation"></mat-progress-bar>
        </div>
    </div>
</div>
<div class="col-md-12" *ngIf="locationStatus == 1">
    <div class="row">
        <div class="col-md-12 col-12">
            <div matRipple class="checkinwi ripple-container p-2 mt-2" (click)="displayAddAppo()"></div>
            <mat-label class="col-md-12 label-lite">{{qtyPeople}}</mat-label>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 col-6">
            <div matRipple class="checkin ripple-container p-2 mt-2 mb-2" (click)="onCheckInApp()"></div>
        </div>
        <div class="col-md-6 col-6">
            <div matRipple class="checkout ripple-container p-2 mt-2" (click)="checkOutQR()"></div>
            <ng-container *ngIf="manualCheckOut$ | async"></ng-container>
        </div>
    </div>
</div>
<div *ngIf="locationStatus == 0" i18n="Location is closed|text in citas lite@@lite.locclosed">
    Location is closed
</div>