<ng-container *ngIf="check$ | async"></ng-container>
<ng-container *ngIf="Locs$ | async"></ng-container>
<ng-container *ngIf="openLoc$ | async"></ng-container>
<ng-container *ngIf="closedLoc$ | async"></ng-container>
<ng-container *ngIf="getLocInfo$ | async"></ng-container>
<div class="col-md-12">
    <div class="qr-space">
        <div class="p-0 pt-2 m-auto">
            <mat-slide-toggle color="primary" [checked]="locationStatus == 1" (change)="locationStatusChange()">{{(locationStatus == 0 ? 'Your location is closed' : (closedLoc == 1 ? 'You need to reopen your location' : 'Your location is open'))}}</mat-slide-toggle>
        </div>
        <mat-select name="providers" class="pt-2 pr-3" [(value)]="providerId" (selectionChange)="onServiceChange($event)">
            <mat-option *ngFor="let item of Providers" [value]="item.ProviderId">
                {{item.Name}}
            </mat-option>
        </mat-select>
        <div class="row space-row">
            <div *ngIf="locationStatus == 1 && closedLoc == 0" class="col-md-2" [ngClass]="{
                'qty-people-white': perLocation < 80,
                'qty-people-black': perLocation < 95,
                'qty-people-white-02': perLocation >= 95}">{{qtyPeople}}</div>
            <mat-progress-bar *ngIf="locationStatus == 1 && closedLoc == 0" [ngClass]="{
                'green-bar': perLocation < 80,
                'yellow-bar': perLocation < 95,
                'red-bar': perLocation >= 95
            }" mode="determinate" [value]="perLocation"></mat-progress-bar>
        </div>
    </div>
</div>
<div class="col-md-12" *ngIf="locationStatus == 1 && closedLoc == 0">
    <div class="qr-space">
        <button mat-stroked-button class="action-buttons col-md-12 mt-2 mb-2" color="secondary" type="button"
            (click)="showCard = !showCard">Walk-Ins Check In</button>
        <ng-container *ngIf="newAppointment$ | async"></ng-container>
        <mat-card *ngIf="showCard" class="card-Appointment mt-2 mb-2">
            <form [formGroup]="clientForm" (ngSubmit)="addAppointment()">
                <div class="form-field pl-3 pr-3">
                    <mat-form-field hintLabel="Phone number">
                        <input matInput #Phone placeholder="+1 (555) 555-1234" appPhoneMask maxlength="14" formControlName="Phone" [errorStateMatcher]="confirmValidParentMatcher">
                        <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">{{getErrorMessage('Phone')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field hintLabel="Name">
                        <input matInput #Name placeholder="Name" maxlength="100" minlength="3" formControlName="Name"
                            [errorStateMatcher]="confirmValidParentMatcher" required>
                        <mat-error *ngIf="f.Name.invalid && f.Name.touched">{{getErrorMessage('Name')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field hintLabel="Service">
                        <mat-select placeholder="Service" name="services" formControlName="ServiceId" required>
                            <mat-option *ngFor="let item of services" [value]="item.ServiceId">
                                {{item.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.ServiceId.invalid && f.ServiceId.touched">{{getErrorMessage('Service')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field i18n-hintLabel="Email@@shared.Email" hintLabel="Email">
                        <input matInput #Email i18n-placeholder="Email@@shared.Email" placeholder="Email" maxlength="200" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email"
                            [errorStateMatcher]="confirmValidParentMatcher">
                        <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{getErrorMessage('Email')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field hintLabel="Number of Guests">
                        <input matInput #Guests placeholder="Number of Guests" maxlength="2" min="1" max="20" formControlName="Guests"
                            [errorStateMatcher]="confirmValidParentMatcher" required>
                        <mat-error *ngIf="f.Guests.invalid && f.Guests.touched">{{getErrorMessage('Guests')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field hintLabel="Date of birth">
                        <mat-label>Date of birth</mat-label>
                        <input matInput [matDatepicker]="dobClient" formControlName="DOB">
                        <mat-datepicker-toggle matSuffix [for]="dobClient"></mat-datepicker-toggle>
                        <mat-datepicker #dobClient></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label>Gender</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Gender" class="client_gender mt-0">
                        <mat-radio-button matLine value="M">Male</mat-radio-button>
                        <mat-radio-button matLine value="F">Female</mat-radio-button>
                        <mat-radio-button matLine value="NA">Doesn't want to answer</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label>Priority</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Disability" class="client_gender mt-0">
                        <mat-radio-button matLine value="1">Senior</mat-radio-button>
                        <mat-radio-button matLine value="2">Pregnant</mat-radio-button>
                        <mat-radio-button matLine value="3">Disable</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label>Preference</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Preference" class="client_gender mt-0">
                        <mat-radio-button matLine value="1">SMS</mat-radio-button>
                        <mat-radio-button i18n="Email@@shared.Email" matLine value="2">Email</mat-radio-button>
                        <mat-radio-button matLine value="3">Push Notification</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <button mat-flat-button color="primary" id="save" [disabled]="!clientForm.valid" class="ml-3 mr-3 mt-2">Save</button>
                    <button mat-flat-button color="accent" id="cancel" type="button" (click)="onCancelAddAppointment()" class="mt-2">Cancel</button>
                </div>
                <!-- {{ clientForm.value | json }} -->
            </form>
        </mat-card>
    </div>
    <div class="qr-space">
        <div class="qr-logo"></div>
        <button mat-stroked-button class="action-buttons col-md-12" color="secondary" type="button"
            (click)="onCheckInApp()" [disabled]="!locationId">Check In</button>
    </div>
    <div class="qr-space">
        <div class="qr-logo"></div>
        <button mat-stroked-button class="action-buttons col-md-12" color="secondary" type="button"
            (click)="checkOutQR()" [disabled]="!locationId">Check Out</button>
        <ng-container *ngIf="manualCheckOut$ | async"></ng-container>
    </div>
    <!-- <div class="qr-space">
        <button mat-stroked-button class="action-buttons col-md-12 mt-0 mb-2" color="secondary" type="button"
            (click)="getWalkInsCheckOut()">Walk-Ins Check Out</button>
        <ng-container *ngIf="getWalkIns$ | async"></ng-container>
    </div> -->
</div>
<div *ngIf="locationStatus == 0">
    Location is closed
</div>