.qr-logo{
    height: 230px;
    background: url('../../../assets/images/qr-code.png');
    width: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.qr-space{
    width: 300px;
}
.client_gender{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.qty-people-black{
    position: relative;
    top: 22px;
    z-index: 100;
    color: black;
    font-weight: 600;
}
.qty-people-white{
    position: relative;
    top: 22px;
    z-index: 100;
    color: white;
    font-weight: 600;
}
.qty-people-white-02{
    position: relative;
    top: 22px;
    z-index: 100;
    color: white;
    font-weight: 600;
}
.space-row{
    padding-left: 15px;
    padding-right: 15px;
}
.header-panel{
    height: 100px;
}
.learn{
    font-size: 24px !important;
}
.learn-btn{
    position: relative;
    top: -9px;
}
.learn-btn-0{
    position: relative;
    top: 0px;
}
.input-guests{
    padding: 0 !important;
    height: 35px;
    width: 30px;
    background: #fff;
    border-bottom-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    border-bottom-color: #FF4F00;
}
.label-custom{
    color: #ff4f00;
    font-family: 'Montserrat';
}
::ng-deep .yellow-bar .mat-progress-bar-fill::after {
    background-color: yellow!important;
    border-radius: 15px;
}
::ng-deep .green-bar .mat-progress-bar-fill::after {
    background-color: green!important;
    border-radius: 15px;
}
::ng-deep .red-bar .mat-progress-bar-fill::after {
    background-color: red!important;
    border-radius: 15px;
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
::ng-deep .mat-progress-bar {
    border-radius: 15px;
    height: 20px !important;
}
/* Use the button type you're using here */
button.mat-icon-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
button.mat-stroked-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}