.qr-logo{
    height: 230px;
    background: url('../../../assets/images/qr-code.png');
    width: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.qr-space{
    width: 300px;
}
.client_gender{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}