<ng-container *ngIf="check$ | async"></ng-container>
<ng-container *ngIf="Locs$ | async"></ng-container>
<ng-container *ngIf="openLoc$ | async"></ng-container>
<ng-container *ngIf="closedLoc$ | async"></ng-container>
<ng-container *ngIf="getLocInfo$ | async"></ng-container>
<div class="col-md-12">
    <mat-accordion>
        <mat-expansion-panel class="mt-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="header-panel">
                <mat-panel-title class="title-text">{{panelOpenState ? hideDetails : seeDetails}}</mat-panel-title>
                <mat-panel-description>
                     {{(textOpenLocation != '' &&  operationText != '' ? textOpenLocation + ' :  ' + operationText : '')}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row space-row mt-2 mb-2">
                <div class="col-sm-3 col-md-6 p-0 m-auto">
                    <div class="row">
                        <button mat-icon-button color="primary" class="col-md-1 learn-btn" (click)="learnMore(26)">
                            <mat-icon>help</mat-icon>
                        </button>
                        <mat-slide-toggle class="col-md-9" color="primary" [checked]="locationStatus == 1" (change)="locationStatusChange()">{{textOpenLocation}}</mat-slide-toggle>
                    </div>
                </div>
                <div class="operation-buttons col-sm-9 col-md-6 p-0">
                    <mat-form-field appearance="fill" class="pr-3">
                        <mat-label>Select location</mat-label>
                        <mat-select name="locations" [(value)]="locationId" (selectionChange)="onLocationChange($event)">
                            <mat-option *ngFor="let item of locations" [value]="item.LocationId">
                            {{item.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="pr-3">
                        <mat-label>Select provider</mat-label>
                        <mat-select name="providers" [(value)]="providerId" (selectionChange)="onServiceChange($event)">
                            <mat-option class="" value="0" i18n="all providers@@shared.allproviders">ALL PROVIDERS</mat-option>
                            <mat-option *ngFor="let item of Providers" [value]="item.ProviderId">
                            {{item.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="qr-space">
        <!-- <div class="p-0 pt-2 m-auto">
            <mat-slide-toggle color="primary" [checked]="locationStatus == 1" (change)="locationStatusChange()">{{textOpenLocation}}</mat-slide-toggle>
        </div>
        <div class="col-sm p-0">{{locName}}</div><mat-select name="providers" class="pt-2 pr-3" [(value)]="providerId" (selectionChange)="onServiceChange($event)">
            <mat-option *ngFor="let item of Providers" [value]="item.ProviderId">
                {{item.Name}}
            </mat-option>
        </mat-select> -->
        <div class="row space-row">
            <div *ngIf="locationStatus == 1 && closedLoc == 0" class="col-md-2" [ngClass]="{
                'qty-people-white': perLocation < 80,
                'qty-people-black': perLocation < 95,
                'qty-people-white-02': perLocation >= 95}">{{qtyPeople}}</div>
            <mat-progress-bar *ngIf="locationStatus == 1 && closedLoc == 0" [ngClass]="{
                'green-bar': perLocation < 80,
                'yellow-bar': perLocation < 95,
                'red-bar': perLocation >= 95
            }" mode="determinate" [value]="perLocation"></mat-progress-bar>
        </div>
    </div>
</div>
<div class="col-md-12" *ngIf="locationStatus == 1 && closedLoc == 0">
    <div class="qr-space">
        <button mat-stroked-button class="action-buttons col-md-12 mt-2 mb-2" color="secondary" type="button"
            (click)="showCard = !showCard" i18n="Walk-Ins Check In|text in citas lite@@lite..walkins">Walk-Ins Check In</button>
        <ng-container *ngIf="newAppointment$ | async"></ng-container>
        <mat-card *ngIf="showCard" class="card-Appointment mt-2 mb-2">
            <form [formGroup]="clientForm" (ngSubmit)="addAppointment()">
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <input matInput #Phone placeholder="+1 (XXX) XXX-XXXX" appPhoneMask maxlength="17" formControlName="Phone" [errorStateMatcher]="confirmValidParentMatcher">
                        <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">{{ 'Error: ' + getErrorMessage('Phone')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <input matInput #Name i18n-placeholder="Name@@shared.name" placeholder="Name" maxlength="100" minlength="3" formControlName="Name"
                            [errorStateMatcher]="confirmValidParentMatcher" required>
                        <mat-error *ngIf="f.Name.invalid && f.Name.touched">{{ 'Error: ' + getErrorMessage('Name')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3" *ngIf="providerId == '0'">
                    <mat-form-field>
                        <mat-select i18n-placeholder="Provider|text in citas@@host.provider" placeholder="Provider" name="providers" formControlName="ProviderId" (selectionChange)="onProvChange($event)" required>
                            <mat-option *ngFor="let item of Providers" [value]="item.ProviderId">
                                {{item.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.ProviderId.invalid && f.ProviderId.touched">{{ 'Error: ' + getErrorMessage('Provider')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <mat-select placeholder="Service" i18n-placeholder="Service|text in citas lite@@lite.service" name="services" formControlName="ServiceId" required>
                            <mat-option *ngFor="let item of services" [value]="item.ServiceId">
                                {{item.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.ServiceId.invalid && f.ServiceId.touched">{{ 'Error: ' + getErrorMessage('Service')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <input matInput #Email i18n-placeholder="Email@@shared.Email" placeholder="Email" maxlength="200" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email"
                            [errorStateMatcher]="confirmValidParentMatcher">
                        <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{ 'Error: ' + getErrorMessage('Email')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <input matInput #Guests i18n-placeholder="Number of Guests|text in citas lite@@lite.numberguests" placeholder="Number of Guests" maxlength="2" min="1" max="20" formControlName="Guests"
                            [errorStateMatcher]="confirmValidParentMatcher" required>
                        <mat-error *ngIf="f.Guests.invalid && f.Guests.touched">{{ 'Error: ' + getErrorMessage('Guests')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <mat-form-field>
                        <mat-label i18n="Date of birth|text in citas@@host.dateofbirth">Date of birth</mat-label>
                        <input matInput [matDatepicker]="dobClient" formControlName="DOB">
                        <mat-datepicker-toggle matSuffix [for]="dobClient"></mat-datepicker-toggle>
                        <mat-datepicker #dobClient></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label i18n="Gender|text in citas@@host.gender">Gender</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Gender" class="client_gender mt-0">
                        <mat-radio-button matLine value="M" i18n="Male|text in citas@@host.male">Male</mat-radio-button>
                        <mat-radio-button matLine value="F" i18n="Female|text in citas@@host.female">Female</mat-radio-button>
                        <mat-radio-button matLine value="NA" i18n="Doesn't want to answer|text in citas@@host.na">Doesn't want to answer</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label i18n="Priority|text in citas@@host.priority">Priority</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Disability" class="client_gender mt-0">
                        <mat-radio-button matLine value="1" i18n="Senior|text in citas@@host.senior">Senior</mat-radio-button>
                        <mat-radio-button matLine value="2" i18n="Pregnant|text in citas@@host.pregnant">Pregnant</mat-radio-button>
                        <mat-radio-button matLine value="3" i18n="Disability|text in citas@@host.disability">Disability</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-field pl-3 pr-3">
                    <label i18n="Preference|text in citas@@host.preference">Preference</label>
                    <mat-radio-group aria-label="Select an option" formControlName="Preference" class="client_gender mt-0">
                        <mat-radio-button matLine value="1" i18n="SMS|text in citas@@host.sms">SMS</mat-radio-button>
                        <mat-radio-button matLine value="2" i18n="Email@@shared.Email">Email</mat-radio-button>
                        <mat-radio-button matLine value="3" i18n="Push Notification|text in citas@@host.pushnot">Push Notification</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <button mat-flat-button color="primary" id="save" [disabled]="!clientForm.valid" class="ml-3 mr-3 mt-2" i18n="Save@@shared.save">Save</button>
                    <button mat-flat-button color="accent" id="cancel" type="button" (click)="onCancelAddAppointment()" class="mt-2" i18n="Cancel@@shared.cancel">Cancel</button>
                </div>
                <!-- {{ clientForm.value | json }} -->
            </form>
        </mat-card>
    </div>
    <div class="qr-space">
        <div class="qr-logo"></div>
        <button mat-stroked-button class="action-buttons col-md-12" color="secondary" type="button"
            (click)="onCheckInApp()" [disabled]="!locationId" i18n="Check In|text in citas lite@@lite.checkin">Check In</button>
    </div>
    <div class="qr-space">
        <div class="qr-logo"></div>
        <button mat-stroked-button class="action-buttons col-md-12" color="secondary" type="button"
            (click)="checkOutQR()" [disabled]="!locationId" i18n="Check Out|text in citas lite@@lite.checkout">Check Out</button>
        <ng-container *ngIf="manualCheckOut$ | async"></ng-container>
    </div>
    <!-- <div class="qr-space">
        <button mat-stroked-button class="action-buttons col-md-12 mt-0 mb-2" color="secondary" type="button"
            (click)="getWalkInsCheckOut()">Walk-Ins Check Out</button>
        <ng-container *ngIf="getWalkIns$ | async"></ng-container>
    </div> -->
</div>
<div *ngIf="locationStatus == 0" i18n="Location is closed|text in citas lite@@lite.locclosed">
    Location is closed
</div>