<div class="container-fluid main-background">
    <div class="row p-0">
        <div class="list-form col-md-12 pl-4 m-0">
            <app-search i18n-placeholder="Search by description|search text in locations@@locations.searchtext" placeholder="Search by description"></app-search>
        </div>
        <div class="col-md-12 pl-4 m-0">
            <div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
                <h3 i18n="LOCATIONS|title in locations@@locations.title">LOCATIONS</h3>
            </div>
            <ng-container *ngIf="appos$ | async"></ng-container>
            <ng-container *ngIf="location$ | async"></ng-container>
            <ng-container *ngIf="locationParams$ | async"></ng-container>
            <ng-container *ngIf="saveLocation$ | async"></ng-container>
            <ng-container *ngIf="parentBus$ | async"></ng-container>
            <ng-container *ngIf="geoLoc$ | async"></ng-container>
            <div class="row p-0 m-0">
                <mat-card class="col-sm col-md col-lg-7 mb-3">
                    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="mt-4">
                        <div class="row mb-3">
                            <div class="form-field-check ml-3 col-md-5">
                                <mat-slide-toggle class="slide-pos" color="primary" formControlName="ManualCheckOut" i18n="Manual Check Out|text in location@@location.manualcheckout">Manual Check Out</mat-slide-toggle>
                                <button type="button" mat-icon-button color="primary" class="learn-btn" (click)="learnMore(16)">
                                    <mat-icon>help</mat-icon>
                                </button>
                            </div>
                            <div class="form-field-check-slide ml-3 pr-3 pb-3 col-md-6" *ngIf="locationForm.value.LocationId !== '' && locationForm.value.LocationId !== null">
                                <mat-slide-toggle class="slide-pos" color="primary" formControlName="Status">{{textStatus}}</mat-slide-toggle>
                                <button type="button" mat-icon-button color="primary" class="learn-btn" (click)="learnMore(17)">
                                    <mat-icon>help</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field>
                                <input matInput i18n-placeholder="Name@@location.name" placeholder="Name"
                                    formControlName="Name" maxlength="500" minlength="3"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="f.Name.invalid && f.Name.touched">{{ 'Error: ' + getErrorMessage('Name')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field>
                                <input matInput i18n-placeholder="Address|text in locations@@locations.address"
                                    placeholder="Address" formControlName="Address" maxlength="500" minlength="3"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="f.Address.invalid && f.Address.touched">{{ 'Error: ' + getErrorMessage('Address')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row pl-3 pr-3">
                            <ng-container *ngIf="sectors$ | async"></ng-container>
                            <div class="form-field col-md-4">
                                <mat-form-field>
                                    <mat-label i18n="City|text in locations@@locations.city">City</mat-label>
                                    <mat-select formControlName="City" (selectionChange)="loadSectors($event.value)"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-option *ngFor="let city of cities" [value]="city.CityId">
                                            {{ city.Name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.City.invalid && f.City.touched">{{ 'Error: ' + getErrorMessage('City')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field col-md-4">
                                <mat-form-field>
                                    <mat-label i18n="Sector|text in locations@@locations.sector">Sector</mat-label>
                                    <mat-select formControlName="Sector" [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-option *ngFor="let sector of sectors" [value]="sector.SectorId">
                                            {{ sector.Name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.Sector.invalid && f.Sector.touched">
                                        {{ 'Error: ' + getErrorMessage('Sector')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field col-md-4">
                                <mat-form-field>
                                    <input #zipcode matInput (change)="setMarker(zipcode.value)" i18n-placeholder="Zip Code|Zip code in business@business.zipcode" placeholder="Zip Code" formControlName="ZipCode" maxlength="10"
                                        minlength="3" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="f.ZipCode.invalid && f.ZipCode.touched">
                                        {{ 'Error: ' + getErrorMessage('ZipCode')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row pl-3 pr-3">
                            <mat-form-field class="col-md-12">
                                <input matInput
                                    i18n-placeholder="Max concurrent customer|text in locations@@locations.maxcustomer"
                                    placeholder="Max Concurrent Customers" formControlName="MaxConcurrentCustomer"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                <button type="button" mat-icon-button matSuffix color="primary" class="learn" (click)="learnMore(13)">
                                    <mat-icon>help</mat-icon>
                                </button>
                                <mat-error *ngIf="f.MaxConcurrentCustomer.invalid && f.MaxConcurrentCustomer.touched">
                                    {{ 'Error: ' + getErrorMessage('MaxConcurrentCustomer')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row pl-3 pr-3">
                            <mat-form-field class="col-md-12" i18n-hintLabel="Doors|text in locations@@locations.doors"
                                hintLabel="Doors">
                                <mat-chip-list #chipDoors>
                                    <ng-container *ngIf="doors.length > 0">
                                        <mat-chip *ngFor="let door of doors.split(',')" [selectable]="selectable"
                                            [removable]="removable" (removed)="removeDoor(door)">
                                            {{door}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                    </ng-container>
                                    <input placeholder="New Door..." [matChipInputFor]="chipDoors"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addDoor($event)">
                                    <button type="button" mat-icon-button matSuffix color="primary" (click)="learnMore(14)">
                                        <mat-icon>help</mat-icon>
                                    </button>
                                </mat-chip-list>
                            </mat-form-field>
                            <!-- <mat-form-field class="col-md-12"
                                i18n-hintLabel="Parent location|text in locations@@locations.parentlocation"
                                hintLabel="Parent location">
                                <mat-select formControlName="ParentLocation" required>
                                    <mat-option *ngFor="let parentBus of businessParent" [value]="parentBus.BusinessId">
                                        {{parentBus.Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.ParentLocation.invalid && f.ParentLocation.touched">
                                    {{ 'Error: ' + getErrorMessage('ParentLocation')}}</mat-error>
                            </mat-form-field> -->
                        </div>
                        <div class="col-md-12 mt-3 mb-3">
                            <div i18n="Map info|text in location@@location.map">
                                Zoom
                            </div>
                            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                                    (dragEnd)="markerDragEndLoc($event)">
                                </agm-marker>
                            </agm-map>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" *ngIf="invalid == 0" id="save" [disabled]="!locationForm.valid"
                                class="button-action ml-3 mr-3 mt-2" i18n="Save@@shared.save">Save</button>
                            <button mat-flat-button color="accent" id="cancel" type="button"
                                i18n="Cancel@@shared.cancel" (click)="onCancel()"
                                class="button-action mt-2 ml-3">Cancel</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>