<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h3>USERS</h3>
</div>
<ng-container *ngIf="user$ | async"></ng-container>
<ng-container *ngIf="userSave$ | async"></ng-container>
<div class="row p-0 m-0">
    <mat-card class="col-sm col-md col-lg-7">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="form-field pl-3 pr-3">
                <mat-form-field i18n-hintLabel="Email@@shared.Email" hintLabel="Email format">
                    <input matInput #Email i18n-placeholder="Email@@shared.Email" placeholder="Email" maxlength="200"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email"
                        [errorStateMatcher]="confirmValidParentMatcher" (focusout)="checkEmailAvailability($event)"
                        required>
                    <mat-spinner matSuffix *ngIf="loadingUser" diameter="18" color="primary"></mat-spinner>
                    <ng-container matSuffix *ngIf="availability$ | async as result">
                        <mat-icon *ngIf="emailValidated"
                            [ngClass]="{'icon-green':result.Available, 'icon-red':!result.Available}">
                            {{result.Available ? 'check' : 'close' }}</mat-icon>
                    </ng-container>
                    <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{getErrorMessage('Email')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Min 5 characters">
                    <input matInput #First_Name placeholder="First Name" maxlength="100" minlength="3"
                        formControlName="First_Name" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.First_Name.invalid && f.First_Name.touched">{{getErrorMessage('First_Name')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Min 5 characters">
                    <input matInput #Last_Name placeholder="Last Name" maxlength="100" minlength="3"
                        formControlName="Last_Name" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.Last_Name.invalid && f.Last_Name.touched">{{getErrorMessage('Last_Name')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field>
                    <span matPrefix>+1 &nbsp;</span>
                    <input matInput #Phone placeholder="(555) 555-1234" appPhoneMask maxlength="14"
                        formControlName="Phone" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">{{getErrorMessage('Phone')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Min 8 characters" *ngIf="f.UserId.value == ''">
                    <input matInput #Password i18n-placeholder="Password@@shared.Password" placeholder="Password" maxlength="20" minlength="8"
                        formControlName="Password" [errorStateMatcher]="confirmValidParentMatcher"
                        [type]="hide ? 'password' : 'text'" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[a-zA-Z0-9]{8,}">
                    <!-- (?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!#$%&?])[a-zA-Z0-9!#$%&?]{8,} -->
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="f.Password.invalid && f.Password.touched && f.Password.errors?.minlength">Minimun
                        length 8</mat-error>
                    <mat-error *ngIf="f.Password.invalid && f.Password.touched && f.Password.errors?.pattern">
                        <div>Require at least 1 number</div>
                        <!-- <div>Require at least 1 special character !#$%&?</div> -->
                        <div>Require at least 1 uppercase letters</div>
                        <div>Require at least 1 lowercase letters</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field>
                    <mat-label>Role:</mat-label>
                    <mat-select #roles formControlName="RoleId" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let rol of roles$ | async" [value]="rol.Role_Id">
                            {{rol.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.RoleId.invalid && f.RoleId.touched">{{getErrorMessage('RoleId')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field-check ml-3 pr-3">
                <mat-checkbox formControlName="Is_Admin">Is Admin</mat-checkbox>
            </div>
            <div class="form-field-check ml-3 pr-3"
                *ngIf="userForm.value.UserId !== '' && userForm.value.UserId !== null">
                <mat-checkbox formControlName="Status">Status</mat-checkbox>
            </div>
            <div>
                <button mat-flat-button color="primary" id="save" [disabled]="!userForm.valid"
                    class="ml-3 mr-3 mt-2">Save</button>
                <button mat-flat-button color="accent" id="cancel" type="button" (click)="onCancel()"
                    class="mt-2">Cancel</button>
                <button mat-icon-button class="pl-4" type="button" *ngIf="userForm.value.Status === 3"
                    (click)="onSendCode()">
                    <mat-icon>autorenew</mat-icon> Re-Send Verification Code
                </button>
            </div>
            <!-- {{ userForm.value | json }} -->
        </form>
    </mat-card>
</div>