<div class="overlay-login" *ngIf="loading">
    <mat-progress-spinner class="spinner-login" matSuffix [diameter]="60" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div class="container login-container">
    <ng-container *ngIf="(user$ | async) || displayForm">
        <form [formGroup]="forgotForm" class="loginForm" (ngSubmit)="onSubmit()">
            <div class="main-logo mb-5 mt-5"></div>
            <div class="login-form">
                <h3 class="sign-in pt-4 pl-4 pb-2" i18n="Forgot password@@shared.forgot">Forgot password</h3>
                <div class="form-field mb-0 pl-4 pb-2 pr-4">
                    <mat-form-field>
                        <mat-label i18n="Email@@shared.Email">Email</mat-label>
                        <input i18n-placeholder="Email@@shared.Email" matInput placeholder="Email" formControlName="Email"
                            [errorStateMatcher]="confirmValidParentMatcher" maxlength="200"
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{getErrorMessage('Email')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="forgot-form mt-3 mb-3"><a class="text-forgot" i18n="Login@@forgot.login" [routerLink]="['/login']">Login</a></div>
            <div class="forgot-form mt-3 mb-3">
                <button mat-flat-button color="primary" id="reset" [disabled]="loading" i18n="Reset Password@@shared.reset" class="text-center w-100">Reset
                    Password
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
        </form>
    </ng-container>
</div>