.panel-lt-forgot{
    width: 100%;
    min-height: 180px;
}
.panel-rt-forgot{
    width: 100%;;
    min-height: 280px;
}
.spinner-forgot{
    position: absolute;
    left: 50%;
    top: 50%;
}
.overlay-login{
    height: 550px;
    width: 677px;
    background-color:rgba(0, 0, 0, 0.418);
    z-index: 10;
    position: absolute;
}
.forgot-form{
    text-align: right;
    cursor: pointer;
    width: 550px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.main-form{
    width: 677px;
    height: 550px;
    background: #FA8D5D;
}
.alert-danger{
    color: #fff;
    font-weight: 500;
}
.main-content{
    background-color: #C4C4C4;
}
.main-logo{
    background: url('../../../assets/images/logo-txtwhite.svg') no-repeat center center;
    height: 115px;
}
.login-form{
    width: 550px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.sign-in{
    color: #6F6F6F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.text-forgot{
    color: #fff !important;
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}