<ng-container *ngIf="business$ | async as bus">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <div class="div-img col-md-3">
                    <img class="imgbusiness-pic" [src]="imgPath+bus.Imagen">
                </div>
                <div class="div-content col-md-6">
                    <h1 class="masthead-heading mb-0">{{bus.Name}}</h1>
                    <h5 class="">{{bus.ShortDescript}}</h5>
                    <a mat-button [attr.href]="'tel:'+bus.Phone">{{ 'Contact Us : ' + (bus.Phone | phone) }}</a>
                    <a mat-button [attr.href]='bus.WebSite' target="_blank">{{bus.WebSite}}</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1 mt-3 mb-3">
                    <h2 class="display-4" i18n="Locations|text in landings@@landing.locations">Locations</h2>
                    <div class="list-group-item" *ngFor="let item of bus.Locs" (click)="newAppo(item, bus.BusinessId)">
                        <span class="localidad-land pt-1 pb-2">{{item.Name}}</span>
                    </div>
                    <div class="tucita mt-3"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" i18n="About Us|text in landing@@landing.aboutus">About Us</h2>
                        <p>{{bus.LongDescrip}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-black">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <button *ngIf="bus.Facebook != ''" (click)="openLink(bus.Facebook)" mat-icon-button color="accent">
                        <mat-icon class="color-icon" svgIcon="facebook"></mat-icon>
                    </button>
                    <button *ngIf="bus.Twitter != ''" (click)="openLink(bus.Twitter)" mat-icon-button color="accent">
                        <mat-icon class="color-icon" svgIcon="twitter"></mat-icon>
                    </button>
                    <button *ngIf="bus.Instagram != ''" (click)="openLink(bus.Instagram)" mat-icon-button color="accent">
                        <mat-icon class="color-icon" svgIcon="instagram"></mat-icon>
                    </button>
                </div>
                <div class="col-12">
                    <p class="text-center text-white m-0 small">Copyright&nbsp;© <a class="link-website" href="https://www.tucita247.com">Tu Cita 24/7</a> 2020</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>