.language-line{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
mat-card{
    margin-left:0px;
    border-radius: 0px;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.16) !important;
}
agm-map{
    height: 300px;
}
.option-subcat{
    text-indent: 1em;
}
.option-cat{
    font-weight: 500;
}
.PRI{
    background: url("../../../assets/images/pur.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.GTM{
    background: url("../../../assets/images/gua.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.DEU{
    background: url("../../../assets/images/ger.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.DOM{
    background: url("../../../assets/images/rep.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.ESP{
    background: url("../../../assets/images/spa.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.USA{
    background: url("../../../assets/images/usa.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
::ng-deep .country-left .mat-select-value-text {
    padding-left: 40px;
}
.label-phone{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f44f00;
    font-family: 'Montserrat';
}