// .dragdrop-container {
//   width: 150px;
//   max-width: 100%;
//   margin: 0 25px 25px 0;
//   display: inline-block;
//   vertical-align: top;
// }  
// .element-list {
//   border: solid 1px #ccc;
//   min-height: 60px;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
//   display: block;
// }
// .item-box {
//   padding: 20px 10px;
//   border-bottom: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: white;
//   font-size: 14px;
// }  
// .cdk-drag-preview {
//   box-sizing: border-box;
//   border-radius: 4px;
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//               0 8px 10px 1px rgba(0, 0, 0, 0.14),
//               0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }
// .cdk-drag-placeholder {
//   opacity: 0;
// }
// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
// .item-box:last-child {
//   border: none;
// }
// .element-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
// .cdk-drag.item-box.cdk-drag-disabled.ng-star-inserted{
//   background: #abc6ff;
//   color: black;
//   font-weight: 500;
// }

.ng5-slider {
  width: 300px;
}
::ng-deep .ng5-slider .ng5-slider-bar {
  height: 50px;
}
::ng-deep .ng5-slider .ng5-slider-selection {
  background: #ff4f00 !important;
}
::ng-deep .ng5-slider .ng5-slider-bar {
  left: 0;
  width: 100%;
  height: 9px !important;
  z-index: 1;
  background: #e4e4e4;
  border-radius: 10px !important;
  border: 1px solid #898989;
}
::ng-deep .ng5-slider[disabled] .ng5-slider-selection {
  background: #d8e0f3 !important;
}
::ng-deep .ng5-slider .ng5-slider-pointer {
  background: #ff4f00 !important;
  width: 26px !important;
  height: 26px !important;
  top: -9px !important;
  border: solid 1px #898989;
}
::ng-deep .ng5-slider[disabled] .ng5-slider-pointer {
  cursor: not-allowed;
  background-color: #d8e0f3 !important;
}
::ng-deep .ng5-slider .ng5-slider-pointer:after {
  display: none;
}
::ng-deep .ng5-slider .ng5-slider-bubble {
  font-size: 14px;
}
:host::ng-deep .mat-form-field-underline {
  background-color: #B6B6B6 !important;
}
.addSlider{
  height: 36px;
  top: 20px;
  width: 130px;
}
agm-map{
  height: 300px;
}