<div class="container-fluid main-background">
    <div class="row row pl-2 pr-1">
        <div class="pl-15 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
            <h3 i18n="BUSINESS|Title page business@@business.business">BUSINESS</h3>
        </div>
        <div class="pl-15 pt-1 col-md-12">
            <mat-card class="col-sm col-md-11 col-lg-11">
                <ng-container *ngIf="(businessSave$ | async) && savingBusiness"></ng-container>
                <ng-container *ngIf="business$ | async"></ng-container>
                <ng-container *ngIf="geoLoc$ | async"></ng-container>
                <form [formGroup]="businessForm">
                    <ng-template matStepLabel i18n="Business|Business Label@@business.businesslabel">Business</ng-template>
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Address Info">
                            <mat-form-field class="pt-3">
                                <input matInput i18n="Business Name|Business name placeholder@@business.busname" placeholder="Business Name" maxlength="500" minlength="3"
                                    formControlName="Name" [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="fBusiness.Name.invalid && fBusiness.Name.touched">
                                    {{getErrorMessage('Name')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput i18n-placeholder="Address|Address Business@@business.address" placeholder="Address" formControlName="Address" maxlength="500"
                                    minlength="3" [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="fBusiness.Address.invalid && fBusiness.Address.touched">
                                    {{getErrorMessage('Address')}}</mat-error>
                            </mat-form-field>
                            <div class="row">
                                <mat-form-field class="col-md-4">
                                    <input type="text" i18n-placeholder="Country|Country in business@@business.country" placeholder="Country" matInput formControlName="Country"
                                        [matAutocomplete]="autoCountry" [errorStateMatcher]="confirmValidParentMatcher"
                                        required>
                                    <mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayFn"
                                        activeOption="activeOption">
                                        <mat-option *ngFor="let country of filteredCountries$ | async"
                                            [value]="country">
                                            {{country.n}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="fBusiness.Country.invalid && fBusiness.Country.touched">{{getErrorMessage('Country')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput i18n-placeholder="City|City in business@@business.city" placeholder="City" formControlName="City" maxlength="100"
                                        minlength="2" [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="fBusiness.City.invalid && fBusiness.City.touched">
                                        {{getErrorMessage('City')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-2">
                                    <input #zipcode (change)="setMarker(zipcode.value)" matInput i18n-placeholder="Zip Code|Zip code in business@business.zipcode" placeholder="Zip Code" formControlName="ZipCode" maxlength="10"
                                        minlength="3" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.ZipCode.invalid && fBusiness.ZipCode.touched">
                                        {{getErrorMessage('ZipCode')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md">
                                    <input matInput appPhoneMask i18n-placeholder="Phone|Phone in business@@business.phone" placeholder="Phone" formControlName="Phone"
                                        maxlength="15" minlength="3" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.Phone.invalid && fBusiness.Phone.touched">
                                        {{getErrorMessage('Phone')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="form-field-check ml-3 mt-3">
                                    <mat-checkbox formControlName="ParentBusiness" i18n="Parent Business|Parent business in business@@business.parent">Parent Business</mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md mt-3 mb-3">
                                    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                                        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Additional Data">
                            <div class="row pt-3">
                                <mat-form-field class="col-md-6">
                                    <ng-container *ngIf="allCategories"></ng-container>
                                    <mat-chip-list #chipCategoriesList formControlName="CategoryId">
                                        <mat-chip *ngFor="let category of categories" 
                                            [selectable]="selectableCategory"
                                            [removable]="removableCategory" 
                                            (removed)="removeCategory(category)">
                                            {{ category.Name }}
                                            <mat-icon matChipRemove *ngIf="removableCategory">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="New category..." #categoryInput 
                                            [matAutocomplete]="autoCategory"
                                            [matChipInputFor]="chipCategoriesList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                    </mat-chip-list>
                                    <mat-autocomplete 
                                        #autoCategory="matAutocomplete"
                                        (optionSelected)="selectedCategory($event)">
                                        <mat-option *ngFor="let category of filteredCategories$ | async"
                                            [value]="category.CategoryId" [ngClass]="{'option-subcat':category.CategoryId.includes('#SUB#'),'option-cat':!category.CategoryId.includes('#SUB#')}">
                                            {{ category.Name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field class="col-md-6">
                                    <mat-chip-list #chipReasons>
                                        <ng-container *ngIf="reasons.length > 0">
                                            <mat-chip *ngFor="let reason of reasons" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeReason(reason)">
                                                {{reason}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </ng-container>
                                        <input placeholder="New Reason..." [matChipInputFor]="chipReasons"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addReason($event)">
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-12">
                                    <mat-chip-list #chipTags>
                                        <ng-container *ngIf="tags.length > 0">
                                            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeTag(tag)">
                                                {{tag}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </ng-container>
                                        <input placeholder="New Tag..." [matChipInputFor]="chipTags"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <ng-container *ngIf="!fBusiness.Email.value; else labelEmail">
                                    <mat-form-field class="col-md-6">
                                        <input matInput i18n-placeholder="Email@@shared.email" placeholder="Email" maxlength="200"
                                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="fBusiness.Email.invalid && fBusiness.Email.touched">
                                            {{getErrorMessage('Email')}}</mat-error>
                                    </mat-form-field>
                                </ng-container>
                                <ng-template #labelEmail>
                                    <div class="content-label col-md-6 form-field pl-3 pr-3">
                                        <mat-label class="" i18n="Email :|Email in business@@business.emaildots">
                                            Email :
                                        </mat-label>
                                        {{fBusiness.Email.value}}
                                    </div>
                                </ng-template>
                                <mat-form-field class="col-md-6">
                                    <input matInput i18n-placeholder="WebSite|Text in business@@business.website" placeholder="WebSite" formControlName="WebSite" maxlength="150"
                                        minlength="4" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.WebSite.invalid && fBusiness.WebSite.touched">
                                        {{getErrorMessage('WebSite')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-4">
                                    <input matInput i18n-placeholder="Facebook|text in business@@business.facebook" placeholder="Facebook" maxlength="150" minlength="4"
                                        formControlName="Facebook" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.Facebook.invalid && fBusiness.Facebook.touched">
                                        {{getErrorMessage('Facebook')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput i18n-placeholder="Twitter|text in business@business.twitter" placeholder="Twitter" maxlength="150" minlength="4"
                                        formControlName="Twitter" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.Twitter.invalid && fBusiness.Twitter.touched">
                                        {{getErrorMessage('Twitter')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput i18n-placeholder="Instagram|text in business@business.instagram" placeholder="Instagram" maxlength="150" minlength="4"
                                        formControlName="Instagram" [errorStateMatcher]="confirmValidParentMatcher">
                                    <mat-error *ngIf="fBusiness.Instagram.invalid && fBusiness.Instagram.touched">
                                        {{getErrorMessage('Instagram')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field>
                                <input matInput i18n-placeholder="Short description for mobile app|text in business@@business.shorttext" placeholder="Short Description" maxlength="75" minlength="10"
                                    formControlName="ShortDescription" [errorStateMatcher]="confirmValidParentMatcher"
                                    required>
                                <mat-error
                                    *ngIf="fBusiness.ShortDescription.invalid && fBusiness.ShortDescription.touched">
                                    {{getErrorMessage('ShortDescription')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput i18n-placeholder="Long description for mobile app|text in business@@business.longtext" placeholder="Long Description" maxlength="255" minlength="10"
                                    formControlName="LongDescription" [errorStateMatcher]="confirmValidParentMatcher"
                                    required>
                                <mat-error
                                    *ngIf="fBusiness.LongDescription.invalid && fBusiness.LongDescription.touched">
                                    {{getErrorMessage('LongDescription')}}</mat-error>
                            </mat-form-field>
                            <ng-container *ngIf="!fBusiness.TuCitaLink.value; else labelTuCita">
                                <mat-form-field>
                                    <input matInput i18n-placeholder="Tu Cita 24/7 Link|text in business@@business.tucitalink" placeholder="Tu Cita 24/7 Link" maxlength="50" minlength="2"
                                        formControlName="TuCitaLink" [errorStateMatcher]="confirmValidParentMatcher"
                                        (focusout)="checkLinkAvailability($event)" required>
                                    <mat-spinner matSuffix *ngIf="loadingBusiness" diameter="18" color="primary">
                                    </mat-spinner>
                                    <ng-container matSuffix *ngIf="availability$ | async as result">
                                        <mat-icon *ngIf="linkValidated"
                                            [ngClass]="{'icon-green':result.Available, 'icon-red':!result.Available}">
                                            {{result.Available ? 'check' : 'close' }}</mat-icon>
                                    </ng-container>
                                    <mat-error *ngIf="fBusiness.TuCitaLink.invalid && fBusiness.TuCitaLink.touched">
                                        {{getErrorMessage('TuCitaLink')}}</mat-error>
                                </mat-form-field>
                            </ng-container>
                            <ng-template #labelTuCita>
                                <div class="content-label col-md-6 form-field pl-0 pr-3 pb-3 mb-3">
                                    <mat-label class="" i18n="Tu Cita 24/7 Link :|text in business@@business.labeltucitablink">
                                        Tu Cita 24/7 Link :
                                    </mat-label>
                                    <a [attr.href]="'https://console.tucita247.com/en/'+fBusiness.TuCitaLink.value" target="_blank">{{'https://console.tucita247.com/en/'+fBusiness.TuCitaLink.value}}</a>
                                </div>
                            </ng-template>
                            <div class="image-business mt-2 mb-2 row ml-0 mr-0">
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pl-0">
                                    <form [formGroup]="imageForm" text-center autocomplete="off" (ngSubmit)="onSubmitImage()">
                                        <h5 i18n="Image for mobile App|text in business@@business.imagemobileapp">Image for mobile App</h5>
                                        <div class="sector">
                                            <img *ngIf="fBusiness.Imagen.value && fileString == undefined" class="imgbusiness-pic" [src]="imgPath+fBusiness.Imagen.value">
                                            <div *ngIf="fileString == undefined && !fBusiness.Imagen.value" class="fill-overlay" i18n="IMAGE MOBILE APP|text in business@@business.imagemobileappimg">IMAGE MOBILE APP</div>
                                            <img *ngIf="fileString != undefined" [src]="fileString" class="imgbusiness-pic">
                                            <div class="default-overlay">
                                                <button type="button" mat-icon-button class="camera-avatar" (click)="onSearchImage()"><mat-icon>add_a_photo</mat-icon>
                                                </button>
                                                <input id="fileUpload" name="fileUpload" type="file" accept="image/*" style="display:none;" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pl-0">
                                    <form [formGroup]="imageFormLink" text-center autocomplete="off" (ngSubmit)="onSubmitImageLink()">
                                        <h5 i18n="Image for Tu Cita 24/7 web link|text in business@@business.imagefortucita">Image for Tu Cita 24/7 web link</h5>
                                        <div class="sector">
                                            <img *ngIf="fBusiness.ImagenLink.value && fileStringLink == undefined" class="imgbusiness-pic" [src]="imgPath+fBusiness.ImagenLink.value">
                                            <div *ngIf="fileStringLink == undefined && !fBusiness.ImagenLink.value" class="fill-overlay" i18n="IMAGE WEB LINK|block in business@@business.imageblock">IMAGE WEB LINK</div>
                                            <img *ngIf="fileStringLink != undefined" [src]="fileStringLink" class="imgbusiness-pic">
                                            <div class="default-overlay">
                                                <button type="button" class="camera-avatar" mat-icon-button (click)="onSearchImageLink()"><mat-icon>add_a_photo</mat-icon>
                                                </button>
                                                <input id="fileUploadLink" name="fileUploadLink" type="file" accept="image/*" style="display:none;" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
                <ng-container *ngIf="imgBusiness$ | async"></ng-container>
                <div>
                    <button class="button-save mr-3 mt-2" mat-flat-button color="primary"
                        [disabled]="businessForm.invalid" (click)="onSubmitBusiness()" i18n="Save@@shared.save">Save</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>