.list-form{
  background: #fff;
}
.main-background{
  background: #F5F5F5;
  height: calc(100vh - 64px) !important;
}
.ng5-slider {
  width: 300px;
}
.default-image {
  height: 200px;
  width: 50%;
  background: lightgray;
}
.sector {
  overflow: hidden;
  width: 382px;
  height: 285px;
  border: 3px solid #ff4f00;
  text-align: center;
  position: relative;
  z-index: 10;
  margin:auto;
}
.fill-overlay{
  overflow: hidden;
  width: 375px;
  height: 280px;
  margin: 0 auto;
  text-align: center;
  background-color: #ff4f00;
  color: #fff;
}
.default-overlay {
  overflow: hidden;
  width: 375px;
  height: 280px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  z-index: 100;
  position: relative;
  top: -281px;
  z-index: 100;
  left: 0px;
}
.sector:hover button{
  display: block;
}
.sector button{
  display: none;
}
.sector:hover .default-overlay {
  opacity: 0.58;
}
.camera-avatar {
  margin: 0 auto;
  color: white;
}
.imgbusiness-pic {
  // width: 100%; 
  // height: 120px;
  // width: 375px;
  height: 280px;
}
.image-business{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 17px;
}
.content-label{
  position:relative;
  text-align:left;
  top:20px;
  font-family: Montserrat;
}
.mat-icon-button:hover .mat-button-focus-overlay {
  opacity: 1 !important;
}
.addSlider{
  height: 36px;
  top: 20px;
  width: 130px;
}
.icon-green{
  color: green;
}
.icon-red{
  color: red;
}
.option-subcat{
  text-indent: 1em;
}
.option-cat{
  font-weight: 500;
}
agm-map{
  height: 300px;
}
.button-save{
  width: 100px;
}
h5{
  text-align:center;
}
::ng-deep .ng5-slider .ng5-slider-bar {
  height: 50px;
}
::ng-deep .ng5-slider .ng5-slider-selection {
  background: #ff4f00 !important;
}
::ng-deep .ng5-slider .ng5-slider-bar {
  left: 0;
  width: 100%;
  height: 9px !important;
  z-index: 1;
  background: #e4e4e4;
  border-radius: 10px !important;
  border: 1px solid #898989;
}
::ng-deep .ng5-slider[disabled] .ng5-slider-selection {
  background: #d8e0f3 !important;
}
::ng-deep .ng5-slider .ng5-slider-pointer {
  background: #ff4f00 !important;
  width: 26px !important;
  height: 26px !important;
  top: -9px !important;
  border: solid 1px #898989;
}
::ng-deep .ng5-slider[disabled] .ng5-slider-pointer {
  cursor: not-allowed;
  background-color: #d8e0f3 !important;
}
::ng-deep .ng5-slider .ng5-slider-pointer:after {
  display: none;
}
::ng-deep .ng5-slider .ng5-slider-bubble {
  font-size: 14px;
}
:host::ng-deep .mat-form-field-underline {
  background-color: #B6B6B6 !important;
}
:host::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}
mat-card{
  margin-left:0px;
  border-radius: 0px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.16) !important;
}
@media only screen and (max-width: 600px) {
  mat-card{
      margin-left: 0px;
  }
  .header-route{
      padding-left: 0px;
  }
  :host ::ng-deep .mat-form-field {
      .mat-form-field-wrapper {
          padding-bottom: 0;
          .mat-form-field-underline {
              position: initial !important;
              display: block;
              margin-top: -1px;
          }
          .mat-form-field-subscript-wrapper,
          .mat-form-field-ripple {
              position: initial !important;
              display: table;
          }
          .mat-form-field-subscript-wrapper {
              min-height: calc(1em + 1px);
          }
      }
  }
}