<div class="container-fluid host-container">
    <div class="row mt-2 mb-2">
        <!-- <mat-tab
            *ngFor="let routeLink of links; let i = index;"
            [label]="routeLink.label"
            [routerLink]="routeLink.link"
            [active]="activeLinkIndex === i">
        </mat-tab> -->
        <nav mat-tab-nav-bar [backgroundColor]="background">
            <a mat-tab-link *ngFor="let link of links"
               (click)="activeLink = link.link"
               [active]="activeLink == link.link"> {{link.label}} </a>
        </nav>
    </div>
</div>