<div class="container-fluid main-background">
    <div class="row row pl-2 pr-1">
        <nav mat-tab-nav-bar color="primary">
            <a mat-tab-link *ngFor="let link of links"
               [routerLink]="link.link"
               (click)="activeLink = link"
               [active]="link.active"> {{link.label}} </a>
          </nav>
    </div>
    <ng-container *ngIf="updateParentDaysOff$ | async"></ng-container>
    <div class="row mt-3 mb-3 mr-5 ml-5 pl-3" *ngIf="locationId != '_' && providerId == '_'">
        <div class="col-md-6 col-lg-6" i18n="Configure your year schedule here. Just click on a date to set the days off.|text business days@@businessdays.maintext">
            Configure your year schedule here. Just click on a date to set the days off.
        </div>
        <mat-slide-toggle [checked]="locationParentDays == 1 ? true : false" color="primary" (change)="updateData($event, 1)" i18n="Inherit special days from company|business day text@@businessdays.secontext">Inherit special days from company</mat-slide-toggle>
    </div>
    <div class="row mt-3 mb-3 mr-5 ml-5 pl-3" *ngIf="locationId != '_' && providerId == '_'">
        <div class="col-md-6 col-lg-6">
            <mat-select name="locations" [(value)]="locationId" (selectionChange)="onLocationChange($event)">
                <mat-option *ngFor="let item of locationData" [value]="item.LocationId">
                    {{item.Name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row mt-3 mb-3 mr-5 ml-5 pl-3" *ngIf="providerId != '_'">
        <div class="col-md-6 col-lg-6" i18n="Configure your year schedule here. Just click on a date to set the days off.|text business days@@businessdays.maintextloc">
            Configure your year schedule here. Just click on a date to set the days off.
        </div>
        <mat-slide-toggle [checked]="providerParentDO == 1 ? true : false" color="primary" (change)="updateData($event, 1)" i18n="Inherit special days from location|business day text@@businessdays.secontextlocation">Inherit special days from location</mat-slide-toggle>
    </div>
    <div class="row mt-3 mb-3 mr-5 ml-5 pl-3" *ngIf="providerId != '_'">
        <div class="col-md-6 col-lg-6">
            <mat-select name="services" [(value)]="providerVal" (selectionChange)="onServiceChange($event)">
                <mat-optgroup *ngFor="let item of serviceData">
                    {{item.Name}}
                    <mat-option *ngFor="let serv of item.Services" [value]="item.LocationId + '#' + serv.ProviderId">
                        {{serv.Name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3 mb-3">
        <div class="col-md-3 col-lg-3">
            <button mat-icon-button class="ml-3 nav-buttons" type="button" (click)="prevYear()">
                <mat-icon [ngClass]="{'back-disabled': currYearAct == 1,
                    'back-enabled': currYearAct == 0}">arrow_back</mat-icon>
            </button>
            <span class="text-nav" [ngClass]="{'back-disabled': currYearAct == 1, 'back-enabled': currYearAct == 0}" i18n="Previous year|text in business days@@businessdays.previous">Previous year</span>
        </div>
        <div class="col-sm col-md-5 col-lg-5 pt-2 pb-2 year-qeue">{{(navYear == 0 ? currYear : navYear)}}</div>
        <div class="col-md-3 col-lg-3 pr-4 next-button">
            <span class="text-next" i18n="Next year|text in business days@@businessdays.next">Next year</span>
            <button mat-icon-button class="mr-3 nav-buttons" type="button" (click)="nextYear()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="daysOff$ | async"></ng-container>
    <ng-container *ngIf="savedaysOff$ | async"></ng-container>
    <div class="row mt-2 mb-2 mr-5 ml-5">
        <div class="col-sm col-md-3 col-lg-3 pr-3 pl-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarjan [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarjan)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarfeb [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarfeb)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarmar [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarmar)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarapr [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarapr)">
                </mat-calendar>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2 mr-5 ml-5">
        <div class="col-sm col-md-3 col-lg-3 pr-3 pl-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarmay [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarmay)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarjun [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarjun)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarjul [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarjul)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendaraug [dateClass]="isSelected" (selectedChange)="onSelect($event, calendaraug)">
                </mat-calendar>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2 mr-5 ml-5">
        <div class="col-sm col-md-3 col-lg-3 pr-3 pl-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarsep [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarsep)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendaroct [dateClass]="isSelected" (selectedChange)="onSelect($event, calendaroct)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendarnov [dateClass]="isSelected" (selectedChange)="onSelect($event, calendarnov)">
                </mat-calendar>
            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3">
            <div class="calendar-wrapper">
                <mat-calendar #calendardec [dateClass]="isSelected" (selectedChange)="onSelect($event, calendardec)">
                </mat-calendar>
            </div>
        </div>
    </div>
</div>