:host ::ng-deep mat-calendar mat-calendar-header .mat-calendar-header{
    display: none;
}
:host ::ng-deep .mat-calendar-body-cell.selected
{
  background-color:#FF4F00!important;
  border-radius: 50%;
}
.list-form{
  background: #fff;
}
.main-background{
  background: #F5F5F5;
  height: calc(100vh - 64px) !important;
}
.mat-tab-label-active{
  color: #000 !important;
}
.mat-tab-link{
  color: rgba(0, 0, 0, 0.87) !important;
}
.year-qeue{
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.nav-buttons{
  color: #F44F00;
}
.back-enabled{
  color: #FF4F00;
}
.back-disabled{
  color:lightgray;
}
.text-nav{
  font-size: 14px;
  font-weight: 500;
}
.text-next{
  font-size: 14px;
  font-weight: 500;
  color: #ff4f00;
}
.next-button{
    text-align: right;
}