mat-card{
    margin-left:0px;
    background: #FFFFFF;
    box-shadow: -3px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
}
:host ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-underline {
            position: initial !important;
            display: block;
            margin-top: -1px;
        }
        .mat-form-field-subscript-wrapper,
        .mat-form-field-ripple {
            position: initial !important;
            display: table;
        }
        .mat-form-field-subscript-wrapper {
            min-height: calc(1em + 1px);
        }
    }
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}
.plan{
    min-height: 500px;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.walkin{
    min-height: 500px;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.precheck{
    min-height: 500px;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.addApp{
    text-align: right;
}
.mat-option {
    font-family: 'Montserrat';
    font-size: 14px;
}
.host-container{
    background-color: #F5F5F5;
}
.title-qeue{
    font-size: 25px;
    font-weight: 600;
    color: #797979;
    text-align: center;
}
.add_client{
    color: #ff4f00;
    background: white;
    height: 35px;
    width: 35px;
    box-shadow: none !important;
    border: 1px solid #ff4f00;
}
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    top: -3px;
    position: relative;
}
.card-Appointment{
    margin-top:2px;
}
.client_gender{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.send_icon{
    color: #ff4f00;
}
.button-send{
    position: relative;
    top: -14px;
}
.card {
    padding-top: 14px;
}
.video {
    width: 100%;
    object-fit: cover;
}
.video-row {
    padding-bottom: 10px;
    border: 1px solid #ff4f00;
}
#canvas {
    width: 100%;
}