<div class="container-fluid host-container">
    <div class="row">
        <ng-container *ngIf="updAppointment$ | async"></ng-container>
        <ng-container *ngIf="openLoc$ | async"></ng-container>
        <ng-container *ngIf="closedLoc$ | async"></ng-container>
        <div class="col-md-12">
            <div class="row space-row mt-2 mb-2">
                <div class="col-sm-5 p-0 m-auto">
                    <mat-slide-toggle [checked]="locationStatus == 0" (change)="locationStatusChange()">{{(locationStatus == 0 ? 'Your location is closed' : (closedLoc == 0 ? 'You need to reopen your location' : 'Your location is open'))}}</mat-slide-toggle>
                </div>
                <div class="operation-buttons col-sm-7 p-0">
                    <!-- <button mat-stroked-button class="action-buttons" *ngIf="locationStatus == 1 && closedLoc == 0 && manualCheckOut == 0" color="secondary" type="button" (click)="getWalkInsCheckOut()">Walk-Ins Check Out</button> -->
                    <ng-container *ngIf="getWalkIns$ | async"></ng-container>
                    <ng-container *ngIf="manualCheckOut$ | async"></ng-container>
                    <!-- El primero que es el manual se debe pedir la cantidad de gente aca afuera + __ - por default 1 -->
                    <mat-select name="services" class="col-sm-6 pr-3" [(value)]="serviceId" (selectionChange)="onServiceChange($event)">
                        <mat-option *ngFor="let item of Services" [value]="item.ServiceId">
                            {{item.Name}}
                        </mat-option>
                    </mat-select>
                    <ng-container *ngIf="locationStatus == 1 && closedLoc == 0 && manualCheckOut == 1">
                        <mat-label class="label-guests">Guests</mat-label>
                        <button mat-icon-button (click)="manualGuests=manualGuests+1">
                            <mat-icon class="site-color">add</mat-icon>
                        </button>
                        <input class="input-guests" matInput placeholder="Number of Guests" [(ngModel)]="manualGuests">
                        <!-- <mat-form-field class="pt-3 num-guests" appearance="outline">
                            <input class="input-guests" matInput placeholder="Number of Guests" [(ngModel)]="manualGuests">
                        </mat-form-field> -->
                        <button mat-icon-button (click)="(manualGuests > 1 ? manualGuests=manualGuests-1 : manualGuests)">
                            <mat-icon class="site-color">remove</mat-icon>
                        </button>
                    </ng-container>
                    <button mat-stroked-button class="action-buttons" *ngIf="locationStatus == 1 && closedLoc == 0 && manualCheckOut == 1" color="secondary" type="button" (click)="setManualCheckOut(manualGuests)">Check Out</button>
                    <button mat-stroked-button class="action-buttons" *ngIf="locationStatus == 1 && closedLoc == 0 && manualCheckOut == 0" color="secondary" type="button" (click)="checkOutQR()">Check Out</button>
                </div>
            </div>
            <div class="row space-row">
                <ng-container *ngIf="quantityPeople$ | async"></ng-container>
                <div *ngIf="locationStatus == 1 && closedLoc == 0" class="col-md-2" [ngClass]="{
                    'qty-people-white': perLocation < 80,
                    'qty-people-black': perLocation < 95,
                    'qty-people-white-02': perLocation >= 95}">{{qtyPeople}}</div>
                <mat-progress-bar *ngIf="locationStatus == 1 && closedLoc == 0" [ngClass]="{
                    'green-bar': perLocation < 80,
                    'yellow-bar': perLocation < 95,
                    'red-bar': perLocation >= 95
                  }" mode="determinate" [value]="perLocation"></mat-progress-bar>
            </div>
        </div>
        <ng-container *ngIf="comments$ | async"></ng-container>
        <ng-container *ngIf="opeHours$ | async"></ng-container>
        <ng-container *ngIf="getLocInfo$ | async"></ng-container>
        <ng-container *ngIf="reasons$ | async"></ng-container>
        <div class="col-sm col-md col-lg-12">
            <div class="row space-row mb-2">
                <div class="col-md mt-2 title-qeue">
                    Citas
                </div>
                <div class="col-md mt-2 title-qeue">
                    Walk-Ins
                    <button mat-mini-fab class="add_client" *ngIf="locationStatus == 1 && closedLoc == 0" (click)="showAppointment()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="col-md mt-2 title-qeue">
                    Ready To Check-In
                </div>
            </div>
            <ng-container *ngIf="messages$ | async"></ng-container>
            <div class="row space-row">
                <div cdkDropList
                    [cdkDropListConnectedTo]="[preCheckInList]"
                    [cdkDropListData]="schedule" class="col-md drop-qeue">
                    <ng-container *ngIf="appointmentsSche$ | async"></ng-container>
                    <div
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="onScrollSche()"
                        [scrollWindow]="false" 
                        class="col-md plan">
                        <mat-card class="mt-2 card-pending" *ngIf="prevHour > 0 && locationStatus == 1">
                            <mat-card-content>
                                <div class="card-previous" (click)="showPrevious = !showPrevious; getPreviousAppos(prevHour)">
                                    <mat-icon *ngIf="showPrevious" svgIcon="menos"></mat-icon>
                                    <mat-icon *ngIf="!showPrevious" svgIcon="mas"></mat-icon> Pending Citas from previous periods</div>
                            </mat-card-content>
                        </mat-card>
                        <ng-container *ngIf="appointmentsPrevious$ | async"></ng-container>
                        <ng-container class="" *ngIf="showPrevious">
                            <mat-card class="mt-2 appCard" *ngFor="let item of previous;let i=index" cdkDrag>
                                <div class="row pr-3 pl-3">
                                    <div *ngIf="!showDetailsPrev[i]" class="card-user col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                    <div *ngIf="showDetailsPrev[i]" class="card-user-disp col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                    <div class="card-time col-md pr-0 pl-0">{{item.DateAppo.substring(0,2) + item.DateAppo.substring(5,8)}}</div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="card-phone col-md-9 pl-0 pr-0">{{item.Phone | phone}}</div>
                                    <div class="card-disability col-md pr-0 pl-0">
                                        <mat-icon *ngIf="item.Disability == '1'" svgIcon="older"></mat-icon>
                                        <mat-icon *ngIf="item.Disability == '2'" svgIcon="pregnant"></mat-icon>
                                        <mat-icon *ngIf="item.Disability == '3'" svgIcon="handicap"></mat-icon>
                                    </div>
                                </div>
                                <ng-container *ngIf="showDetailsPrev[i]">
                                    <div class="row pr-3 pl-3 mt-2 mb-2">
                                        <div class="card-contentprio col-md-6 pl-0">No. of guests: </div><div class="card-resultprio col-md">{{item.Guests}}</div>
                                    </div>
                                    <div class="row pr-3 pl-3 mt-2 mb-2">
                                        <div class="card-contentprio col-md-6 pl-0">Purpose: </div><div class="card-resultprio-door col-md">{{item.Purpose}}</div>
                                    </div>
                                    <div class="row pr-3 pl-3 mt-2 mb-2">
                                        <div class="card-contentprio col-md-6 pl-0">Door: </div><div class="card-resultprio-door col-md">{{item.Door}}</div>
                                    </div>
                                    <div class="row pr-3 pl-3 mt-2 mb-2">
                                        <div class="card-contentprio col-md-6 pl-0">On Behalf: </div><div class="card-resultprio col-md">{{item.OnBehalf == '0' ? 'No' : 'Yes'}}</div>
                                    </div>
                                </ng-container>
                                <div class="row mb-0 mt-2">
                                    <div class="card-actions-center col-sm-3 p-0">
                                        <button mat-icon-button color="secondary" (click)="showCancelOptionsPrev[i] = !showCancelOptionsPrev[i]">
                                            <mat-icon svgIcon="cancel"></mat-icon>
                                        </button>
                                    </div>
                                    <div class="card-actions-center col-sm-3 p-0">
                                        <button mat-icon-button color="secondary" (click)="showMessagePrev[i] = !showMessagePrev[i]; onShowMessage(item, i, 'previous');">
                                            <mat-icon [matBadgeHidden]="item.Unread != 'H'" matBadgeSize="small" matBadge="*" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true" svgIcon="sms"></mat-icon>
                                        </button>
                                    </div>
                                    <div class="card-actions-center col-sm-3 p-0">
                                        <button mat-icon-button color="secondary" (click)="onReadyCheckIn(item, 0)">
                                            <mat-icon svgIcon="readycheck"></mat-icon>
                                        </button>
                                    </div>
                                    <div class="card-actions-center col-sm-3 p-0">
                                        <button mat-icon-button color="secondary" (click)="showDetailsPrev[i] = !showDetailsPrev[i]">
                                            <mat-icon svgIcon="expand"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showCancelOptionsPrev[i]">
                                    <div class="col-md-12 pl-0 pr-0">
                                        <mat-form-field>
                                            <mat-label>Cancel reasons</mat-label>
                                            <mat-select [(value)]="selectedPrev[i]">
                                                <mat-option *ngFor="let reason of reasons" [value]="reason.ReasonId">
                                                    {{reason.Description}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
                                        <button mat-flat-button type="button" color="primary" (click)="onCancelApp(item, selectedPrev[i], i, 'previous')" [disabled]="selectedPrev[i] == undefined">
                                            Cancel Appointment
                                        </button>
                                    </div>
                                </div>
                                <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showMessagePrev[i]">
                                    <div class="col-sm-10 pl-0 pr-0">
                                        <textarea class="card-text" #messageText matInput placeholder="Write a comment..."></textarea>
                                    </div>
                                    <div class="button-send col-md pr-0 pl-0">
                                        <button mat-icon-button type="button" (click)="onMessageApp(item.AppId, messageText.value ,i, 'previous')">
                                            <mat-icon class="send_icon">send</mat-icon>
                                        </button>
                                    </div>
                                    <div class="card-chat pl-3 pr-3 mb-0 mt-3 col-md-12">
                                        <ng-container *ngFor="let item of getCommentsPrev[i]">
                                            <div class="row row justify-content-start" *ngIf="item.U != undefined">
                                                <div class="card-chat-user col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                    <div class="card-chat-time">{{item.T}}</div>
                                                    {{item.U}}
                                                </div>
                                            </div>
                                            <div class="row justify-content-end" *ngIf="item.H != undefined">
                                                <div class="card-chat-host col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                    <div class="card-chat-time">{{item.T}}</div>
                                                    {{item.H}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </mat-card>
                        </ng-container>
                        <mat-card class="mt-2 appCard" *ngFor="let item of schedule;let i=index" cdkDrag>
                            <div class="row pr-3 pl-3">
                                <div *ngIf="!showDetailsSche[i]" class="card-user col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div *ngIf="showDetailsSche[i]" class="card-user-disp col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div class="card-time col-md pr-0 pl-0">{{item.DateAppo.substring(0,2) + item.DateAppo.substring(5,8)}}</div>
                            </div>
                            <div class="row pr-3 pl-3">
                                <div class="card-phone col-md-9 pl-0 pr-0">{{item.Phone | phone}}</div>
                                <div class="card-disability col-md pr-0 pl-0">
                                    <mat-icon *ngIf="item.Disability == '1'" svgIcon="older"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '2'" svgIcon="pregnant"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '3'" svgIcon="handicap"></mat-icon>
                                </div>
                            </div>
                            <ng-container *ngIf="showDetailsSche[i]">
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Number of guests: </div><div class="card-resultprio col-md">{{item.Guests}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Purpose: </div><div class="card-resultprio-door col-md">{{item.Purpose}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Door: </div><div class="card-resultprio-door col-md">{{item.Door}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">On Behalf: </div><div class="card-resultprio col-md">{{item.OnBehalf == '0' ? 'No' : 'Yes'}}</div>
                                </div>
                            </ng-container>
                            <div class="row mb-0 mt-2">
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showCancelOptionsSche[i] = !showCancelOptionsSche[i]">
                                        <mat-icon svgIcon="cancel"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showMessageSche[i] = !showMessageSche[i]; onShowMessage(item, i, 'schedule');">
                                        <mat-icon [matBadgeHidden]="item.Unread != 'H'" matBadgeSize="small" matBadge="*" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true" svgIcon="sms"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="onReadyCheckIn(item, 1)">
                                        <mat-icon svgIcon="readycheck"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showDetailsSche[i] = !showDetailsSche[i]">
                                        <mat-icon svgIcon="expand"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showCancelOptionsSche[i]">
                                <div class="col-md-12 pl-0 pr-0">
                                    <mat-form-field>
                                        <mat-label>Cancel reasons</mat-label>
                                        <mat-select [(value)]="selectedSche[i]">
                                            <mat-option *ngFor="let reason of reasons" [value]="reason.ReasonId">
                                                {{reason.Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
                                    <button mat-flat-button type="button" color="primary" (click)="onCancelApp(item, selectedSche[i], i, 'schedule')" [disabled]="selectedSche[i] == undefined">
                                        Cancel Appointment
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showMessageSche[i]">
                                <div class="col-sm-10 pl-0 pr-0">
                                    <textarea class="card-text" #messageText matInput placeholder="Write a comment..."></textarea>
                                </div>
                                <div class="button-send col-md pr-0 pl-0">
                                    <button mat-icon-button type="button" (click)="onMessageApp(item.AppId, messageText.value ,i, 'schedule')">
                                        <mat-icon class="send_icon">send</mat-icon>
                                    </button>
                                </div>
                                <div class="card-chat pl-3 pr-3 mb-0 mt-3 col-md-12">
                                    <ng-container *ngFor="let item of getCommentsSche[i]">
                                        <div class="row row justify-content-start" *ngIf="item.U != undefined">
                                            <div class="card-chat-user col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.U}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-end" *ngIf="item.H != undefined">
                                            <div class="card-chat-host col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.H}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div cdkDropList 
                     [cdkDropListConnectedTo]="[preCheckInList]"
                     [cdkDropListData]="walkIns" class="col-md drop-qeue">
                     <ng-container *ngIf="appointmentsWalk$ | async"></ng-container>
                     <div
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="onScrollWalk()"
                        [scrollWindow]="false" 
                        class="col-md walkin">
                        <mat-card *ngIf="showApp" class="card-Appointment mt-2">
                            <ng-container *ngIf="newAppointment$ | async"></ng-container>
                            <form [formGroup]="clientForm" (ngSubmit)="addAppointment()">
                                <div class="form-field pl-3 pr-3">
                                    <mat-form-field hintLabel="Phone number">
                                        <input matInput #Phone placeholder="+1 (555) 555-1234" appPhoneMask maxlength="17" formControlName="Phone" [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">{{getErrorMessage('Phone')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <mat-form-field hintLabel="Name">
                                        <input matInput #Name placeholder="Name" maxlength="100" minlength="3" formControlName="Name"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="f.Name.invalid && f.Name.touched">{{getErrorMessage('Name')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <mat-form-field hintLabel="Email">
                                        <input matInput #Email placeholder="Email" maxlength="200" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{getErrorMessage('Email')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <mat-form-field hintLabel="No of People">
                                        <input matInput #Guests placeholder="No of People" maxlength="2" min="1" max="20" formControlName="Guests"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="f.Guests.invalid && f.Guests.touched">{{getErrorMessage('Guests')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <mat-form-field hintLabel="Date of birth">
                                        <mat-label>Date of birth</mat-label>
                                        <input matInput [matDatepicker]="dobClient" formControlName="DOB">
                                        <mat-datepicker-toggle matSuffix [for]="dobClient"></mat-datepicker-toggle>
                                        <mat-datepicker #dobClient></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <label>Gender</label>
                                    <mat-radio-group aria-label="Select an option" formControlName="Gender" class="client_gender mt-0">
                                        <mat-radio-button matLine value="M">Male</mat-radio-button>
                                        <mat-radio-button matLine value="F">Female</mat-radio-button>
                                        <mat-radio-button matLine value="NA">Doesn't want to answer</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <label>Disability</label>
                                    <mat-radio-group aria-label="Select an option" formControlName="Disability" class="client_gender mt-0">
                                        <mat-radio-button matLine value="1">Elderly</mat-radio-button>
                                        <mat-radio-button matLine value="2">Pregnant</mat-radio-button>
                                        <mat-radio-button matLine value="3">Disable</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="form-field pl-3 pr-3">
                                    <label>Preference</label>
                                    <mat-radio-group aria-label="Select an option" formControlName="Preference" class="client_gender mt-0">
                                        <mat-radio-button matLine value="1">SMS</mat-radio-button>
                                        <mat-radio-button matLine value="2">Email</mat-radio-button>
                                        <mat-radio-button matLine value="3">Push Notification</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div>
                                    <button mat-flat-button color="primary" id="save" [disabled]="!clientForm.valid" class="ml-3 mr-3 mt-2">Save</button>
                                    <button mat-flat-button color="accent" id="cancel" type="button" (click)="onCancelAddAppointment()" class="mt-2">Cancel</button>
                                </div>
                                <!-- {{ clientForm.value | json }} -->
                            </form>
                        </mat-card>
                        <mat-card class="mt-2 appCard" *ngFor="let item of walkIns;let i=index" cdkDrag>
                            <div class="row pr-3 pl-3">
                                <div *ngIf="!showDetailsWalk[i]" class="card-user col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div *ngIf="showDetailsWalk[i]" class="card-user-disp col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div class="card-time col-md pr-0 pl-0">{{item.DateAppo.substring(0,2) + item.DateAppo.substring(5,8)}}</div>
                            </div>
                            <div class="row pr-3 pl-3">
                                <div class="card-phone col-md-9 pl-0 pr-0">{{item.Phone | phone}}</div>
                                <div class="card-disability col-md pr-0 pl-0">
                                    <mat-icon *ngIf="item.Disability == '1'" svgIcon="older"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '2'" svgIcon="pregnant"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '3'" svgIcon="handicap"></mat-icon>
                                </div>
                            </div>
                            <ng-container *ngIf="showDetailsWalk[i]">
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Number of guests: </div><div class="card-resultprio col-md">{{item.Guests}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Purpose: </div><div class="card-resultprio-door col-md">{{item.Purpose}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Door: </div><div class="card-resultprio-door col-md">{{item.Door}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">On Behalf: </div><div class="card-resultprio col-md">{{item.OnBehalf == '0' ? 'No' : 'Yes'}}</div>
                                </div>
                            </ng-container>
                            <div class="row mb-0 mt-2">
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showCancelOptionsWalk[i] = !showCancelOptionsWalk[i]">
                                        <mat-icon svgIcon="cancel"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showMessageWalk[i] = !showMessageWalk[i]; onShowMessage(item, i, 'walkin');">
                                    <mat-icon [matBadgeHidden]="item.Unread != 'H'" matBadgeSize="small" matBadge="*" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true" svgIcon="sms"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="onReadyCheckIn(item, 2)">
                                        <mat-icon svgIcon="readycheck"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showDetailsWalk[i] = !showDetailsWalk[i]">
                                        <mat-icon svgIcon="expand"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showCancelOptionsWalk[i]">
                                <div class="col-md-12 pl-0 pr-0">
                                    <mat-form-field>
                                        <mat-label>Cancel reasons</mat-label>
                                        <mat-select [(value)]="selectedWalk[i]">
                                            <mat-option *ngFor="let reason of reasons" [value]="reason.ReasonId">
                                                {{reason.Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
                                    <button mat-flat-button type="button" color="primary" (click)="onCancelApp(item, selectedWalk[i], i, 'walkin')" [disabled]="selectedWalk[i] == undefined">
                                        Cancel Appointment
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showMessageWalk[i]">
                                <div class="col-sm-10 pl-0 pr-0">
                                    <textarea class="card-text" #messageText matInput placeholder="Write a comment..."></textarea>
                                </div>
                                <div class="button-send col-md pr-0 pl-0">
                                    <button mat-icon-button type="button" (click)="onMessageApp(item.AppId, messageText.value ,i, 'walkin')">
                                        <mat-icon class="send_icon">send</mat-icon>
                                    </button>
                                </div>
                                <div class="card-chat pl-3 pr-3 mb-0 mt-3 col-md-12">
                                    <ng-container *ngFor="let item of getCommentsWalk[i]">
                                        <div class="row row justify-content-start" *ngIf="item.U != undefined">
                                            <div class="card-chat-user col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.U}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-end" *ngIf="item.H != undefined">
                                            <div class="card-chat-host col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.H}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div cdkDropList
                     #preCheckInList="cdkDropList"
                     (cdkDropListDropped)="drop($event)"
                     [cdkDropListData]="preCheckIn" class="col-md drop-qeue">
                     <ng-container *ngIf="appointmentsPre$ | async"></ng-container>
                     <div
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="onScrollWalk()"
                        [scrollWindow]="false" 
                        class="col-md precheck">
                        <ng-container *ngIf="checkIn$ | async"></ng-container>
                        <mat-card class="mt-2 appCard" *ngFor="let item of preCheckIn;let i=index">
                            <div class="row pr-3 pl-3">
                                <div *ngIf="!showDetailsCheck[i]" class="card-user col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div *ngIf="showDetailsCheck[i]" class="card-user-disp col-md-9 pl-0 pr-0">{{item.Name}}</div>
                                <div class="col-md pr-0 pl-0">
                                    <mat-icon class="elapsed-clock" *ngIf="item.ElapsedTime != ''" svgIcon="clock"></mat-icon>
                                    <div class="elapsed-time">
                                        {{item.ElapsedTime}}
                                    </div>
                                    <div class="elapsed-tag">{{ (item.ElapsedTime > 1 ? 'mins' : 'min') }}</div>
                                </div>
                            </div>
                            <div class="row pr-3 pl-3">
                                <div class="card-phone col-md-9 pl-0 pr-0">{{item.Phone | phone}}</div>
                                <div class="card-disability-pre col-md pr-0 pl-0">
                                    <mat-icon *ngIf="item.Disability == '1'" svgIcon="older"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '2'" svgIcon="pregnant"></mat-icon>
                                    <mat-icon *ngIf="item.Disability == '3'" svgIcon="handicap"></mat-icon>
                                </div>
                            </div>
                            <ng-container *ngIf="showDetailsCheck[i]">
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Number of guests: </div><div class="card-resultprio col-md">{{item.Guests}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Purpose: </div><div class="card-resultprio-door col-md">{{item.Purpose}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">Door: </div><div class="card-resultprio-door col-md">{{item.Door}}</div>
                                </div>
                                <div class="row pr-3 pl-3 mt-2 mb-2">
                                    <div class="card-contentprio col-md-6 pl-0">On Behalf: </div><div class="card-resultprio col-md">{{item.OnBehalf == '0' ? 'No' : 'Yes'}}</div>
                                </div>
                            </ng-container>
                            <div class="row mb-0 mt-2 p-0">
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showCancelOptionsCheck[i] = !showCancelOptionsCheck[i]">
                                        <mat-icon svgIcon="cancel"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showMessageCheck[i] = !showMessageCheck[i]; onShowMessage(item, i, 'checkin');">
                                    <mat-icon [matBadgeHidden]="item.Unread != 'H'" matBadgeSize="small" matBadge="*" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true" svgIcon="sms"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="onCheckInApp(item)">
                                        <mat-icon svgIcon="readycheck"></mat-icon>
                                    </button>
                                </div>
                                <div class="card-actions-center col-sm-3 p-0">
                                    <button mat-icon-button color="secondary" (click)="showDetailsCheck[i] = !showDetailsCheck[i]">
                                        <mat-icon svgIcon="expand"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showCancelOptionsCheck[i]">
                                <div class="col-md-12 pl-0 pr-0">
                                    <mat-form-field>
                                        <mat-label>Cancel reasons</mat-label>
                                        <mat-select [(value)]="selectedCheck[i]">
                                            <mat-option *ngFor="let reason of reasons" [value]="reason.ReasonId">
                                                {{reason.Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 pl-0 pr-0 mt-2 mb-2">
                                    <button mat-flat-button type="button" color="primary" (click)="onCancelApp(item, selectedCheck[i], i, 'checkin')" [disabled]="selectedCheck[i] == undefined">
                                        Cancel Appointment
                                    </button>
                                </div>
                            </div>
                            <div class="row pl-3 pr-3 mb-0 mt-3" *ngIf="showMessageCheck[i]">
                                <div class="col-sm-10 pl-0 pr-0">
                                    <textarea class="card-text" #messageText matInput placeholder="Write a comment..."></textarea>
                                </div>
                                <div class="button-send col-md pr-0 pl-0">
                                    <button mat-icon-button type="button" (click)="onMessageApp(item.AppId, messageText.value ,i, 'checkin')">
                                        <mat-icon class="send_icon">send</mat-icon>
                                    </button>
                                </div>
                                <div class="card-chat pl-3 pr-3 mb-0 mt-3 col-md-12">
                                    <ng-container *ngFor="let item of getCommentsCheck[i]">
                                        <div class="row row justify-content-start" *ngIf="item.U != undefined">
                                            <div class="card-chat-user col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.U}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-end" *ngIf="item.H != undefined">
                                            <div class="card-chat-host col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                                                <div class="card-chat-time">{{item.T}}</div>
                                                {{item.H}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>