<div class="container-fluid h-100">
    <div class="row pl-2 pr-1">
        <div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
            <h4>Check In</h4>
        </div>
        <mat-card class="col-sm col-md col-lg-12">
            <div class="row">
                <div class="col-md-4 plan">

                </div>
                <div class="col-md-4 walkin">

                </div>
                <div class="col-md-4 precheck">

                </div>
            </div>
        </mat-card>
    </div>
</div>