//CAMBIO ERICK SANTIZO
mat-card{
    margin-left:0px;
    padding: 5px 8px;
    background: #FFFFFF;
    box-shadow: -3px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 0px; //10px;
    min-width: 95%;
    width: 95%;
}
.text-loc{
    position: absolute;
    font-weight: 500;
    top: 9px;
}
.div-drag{
    cursor: move;
    width: 24px;
    text-align: right;
    width: 100%;
}
.data-hg{
    height: 25px;
}
.ready-text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
    color: #979797;
}
.btn-icon{
    color: #f44f00;
    top: -2px;
}
:host ::ng-deep .mat-tab-label.mat-tab-label-active {
    color: #ff4f00;
    font-weight: 600;
}
:host ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-underline {
            position: initial !important;
            display: block;
            margin-top: -1px;
        }
        .mat-form-field-subscript-wrapper,
        .mat-form-field-ripple {
            position: initial !important;
            display: table;
        }
        .mat-form-field-subscript-wrapper {
            min-height: calc(1em + 1px);
        }
    }
}
.qty-people-black{
    position: relative;
    top: 21px;
    z-index: 100;
    color: black;
    font-weight: 600;
}
.qty-people-white{
    position: relative;
    top: 21px;
    z-index: 100;
    color: white;
    font-weight: 600;
}
.qty-people-white-02{
    position: relative;
    top: 21px;
    z-index: 100;
    color: white;
    font-weight: 600;
}
::ng-deep .yellow-bar .mat-progress-bar-fill::after {
    background-color: yellow!important;
    border-radius: 15px;
}
::ng-deep .green-bar .mat-progress-bar-fill::after {
    background-color: green!important;
    border-radius: 15px;
}
::ng-deep .red-bar .mat-progress-bar-fill::after {
    background-color: red!important;
    border-radius: 15px;
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
::ng-deep .mat-progress-bar {
    border-radius: 15px;
    height: 20px !important;
}
::ng-deep .elapsed-clock{
    height: 24px !important;
    width: 24px !important;
    line-height: 20px !important;
    top: -2px !important;
}
/* Use the button type you're using here */
button.mat-icon-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
button.mat-stroked-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
.drop-qeue{
    height: calc(100vh - 285.33px); //209.33
    padding-right: 2px;
    padding-left: 1px;
}
.tabs-detail{
    width: 100%;
}
:host ::ng-deep .mat-tab-body-content{
    overflow-y: auto;
    overflow-x: hidden;
}
.plan{
    min-height: calc(100% - 37.33px);
    height: 100%;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.walkin{
    // min-height: 300px;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.parent{
    position: relative;
}
.partial-qeue{
    padding-right: 2px;
    padding-left: 1px;
    height: 30%;
    bottom: 0;
    position: absolute;
}
.upc-partial-qeue{
    padding-right: 2px;
    padding-left: 1px;
    height: 70%;
    position: absolute;
}
.waitlist{
    // min-height: 163px;
    height: calc(100% - 37.33px);
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.precheck{
    min-height: calc(100% - 37.33px);
    height: 100%;
    width: 100%;
    overflow: auto;
    border: dashed 1px #ff4f00;
}
.addApp{
    text-align: right;
}
.mat-option {
    font-family: 'Montserrat';
    font-size: 14px;
}
.host-container{
    background-color: #F5F5F5;
}
// .title-qeue{
//     font-size: 25px;
//     font-weight: 600;
//     color: #797979;
//     text-align: center;
// }
.add_client{
    color: #ff4f00;
    background: white;
    height: 35px;
    width: 35px;
    box-shadow: none !important;
    border: 1px solid #ff4f00;
    position: relative;
    left: 10px;
}
.card-previous{
    font-family: Montserrat;
    font-size: 16px;
    color: #FF4F00;    
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-pending{
    width: 100%;
    height: 65px;
    line-height: 50px;
}
.num-guests{
    width: 35px;
    text-align: center;
}
.input-guests{
    padding: 0 !important;
    height: 35px;
    width: 30px;
    background: #fff;
    border-bottom-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    border-bottom-color: #FF4F00;
}
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    top: -2px;
    position: relative;
}
.card-Appointment{
    margin-top:2px;
}
.client_gender{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
// .send_icon{
//     color: #ff4f00;
// }
// .button-send{
//     position: relative;
//     top: -10px;
// }
.card {
    padding-top: 14px;
}
.video {
    width: 100%;
    object-fit: cover;
}
.video-row {
    padding-bottom: 10px;
    border: 1px solid #ff4f00;
}
#canvas {
    width: 100%;
}
.card-user{
    font-weight: 700;
    color: #797979;
    line-height: 24px;
    font-size: 20px;
    text-transform: capitalize;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-user-disp{
    font-weight: 700;
    color: #797979;
    line-height: 24px;
    font-size: 20px;
    text-transform: capitalize;
}
.card-phone{
    font-weight: 200;
    color: #797979;
    line-height: 24px;
    font-size: 20px;
}
.card-time{
    font-weight: 200;
    color: #797979;
    line-height: 20px;
    font-size: 16px;
    text-align: right;
}
.card-contentprio{
    font-weight: 600;
    color: #797979;
    line-height: 18px;
    font-size: 16px;
}
.card-resultprio{
    font-weight: 200;
    color: #797979;
    line-height: 18px;
    font-size: 16px;
}
.card-resultprio-door{
    font-weight: 200;
    color: #797979;
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-actions-center{
    text-align: center;
}
.card-actions-left{
    text-align: left;
}
.card-actions-right{
    text-align: right;
}
.card-disability{
    text-align: right;
}
.card-disability-pre{
    text-align: right;
    position: relative;
    top: 15px;
    line-height: 30px;
    right: -6px;
}
// .card-text{
//     width: 100%;
//     height: 100%;
//     box-sizing: border-box;
//     outline: 2px solid #18A0FB !important;
// }
// .card-chat{
//     background-color: #F9F7F7;
//     overflow-y: auto;
//     height: 110px;
// }
// .card-chat-user{
//     background: #D7D7D7;
//     border-radius: 8px;
// }
// .card-chat-host{
//     background: linear-gradient(0deg, #E8E8E8, #E8E8E8), #E1DDDD;
//     border-radius: 8px;
//     text-align: right;
// }
// .card-chat-time{
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 8px;
//     line-height: 10px;
// }
.size-icon{
    font-size: 20px;
    cursor: pointer;
}
.elapsed-time{
    text-align: right;
    font-family: 'Montserrat';
    color: #f44f00;
    font-weight: 600;
}
.buffer-time{
    margin-left: auto;
    width: 40px;
    top: 5px;
}
.elapsed-clock{
    height: 24px;
    width: 24px;
    line-height: 24px;
    top: -2px;
}
.disp-button{
    text-align: right;
}
.checkin-list{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}
.action-buttons{
    width: 175px;
    margin: 2px;
}
.action-buttons-init{
    width: 175px;
    margin: 2px;
    margin-left: 8px;
}
.operation-buttons{
    text-align: right;
}
.space-row{
    padding-left: 15px;
    padding-right: 15px;
}
.learn{
    font-size: 24px !important;
}
.learn-btn{
    position: relative;
    top: -5px;
}
.learn-btn-0{
    position: relative;
    top: 0px;
}
mat-menu{
    overflow: auto;
}
.label-custom{
    color: #ff4f00;
    font-family: 'Montserrat';
}
.title-text:hover{
    color: #000 !important;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.appCard:last-child {
    border: none;
}
.drop-qeue.cdk-drop-list-dragging .appCard:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.upc-partial-qeue.cdk-drop-list-dragging .appCard:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.partial-qeue.cdk-drop-list-dragging .appCard:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.download-ico{
    width: 37px;
    height: 37px;
    top: -1px;
    position: relative;
    cursor: pointer;
}
.download-btn{
    width: 35px;
    top: -4px;
    left: 16px;
    height: 35px;
}
::ng-deep .mat-tooltip {
    background-color: #ff4f00;
}
.waitlist::-webkit-scrollbar {
    width: 8px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}
.walkin::-webkit-scrollbar {
    width: 8px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}
/* Track */
.waitlist::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
.walkin::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
.plan::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
.precheck::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
/* Handle */
.waitlist::-webkit-scrollbar-thumb {
    background: #ff4f00; 
    border-radius: 10px;
}
.walkin::-webkit-scrollbar-thumb {
    background: #ff4f00; 
    border-radius: 10px;
}
.plan::-webkit-scrollbar-thumb {
    background: #ff4f00; 
    border-radius: 10px;
}
.precheck::-webkit-scrollbar-thumb {
    background: #ff4f00; 
    border-radius: 10px;
}
/* Handle on hover */
.waitlist::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.walkin::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.plan::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.precheck::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
@media only screen and (orientation: landscape){
    .partial-qeue{
        height: 55%;
    }
    .upc-partial-qeue{
        height: 45%;
    }
    mat-card{
        margin-right: 0 !important;
        min-width: 95%;
        width: 95%;
    }
    // @media(max-width: 1024px){
    //     mat-card{
    //         min-width: 275px;
    //         width: 275px;
    //     }
    // }
    // @media(max-width: 1200px){
    //     mat-card{
    //         min-width: 290px;
    //     }
    // }
    // @media(max-width: 1366px){
    //     mat-card{
    //         min-width: 350px;
    //     }
    // }
}
@media only screen and (orientation: portrait){
    @media(max-width: 700px){
        mat-card{
            min-width: 100%;
            width: 255px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .qeue-tab{
            padding-right: .25rem!important;
        }
    }
}
@media (max-width: 1024px){
    .title-qeue{
        font-size: 20px;
    }
    .card-user{
        font-size: 15px;
    }
    .card-user-disp{
        font-size: 15px;
    }
    .card-time{
        font-size: 13px;
    }
    .card-phone{
        font-size: 15px;
    }
    .elapsed-tag{
        font-size:13px;
        text-align: right;
    }
    .elapsed-clock{
        height: 24px;
        width: 24px;
        line-height: 24px;
        top: -2px;
    }
    .elapsed-time{
        text-align: right;
        font-family: "Montserrat";
        font-size: 11px;
        color: #f44f00;
        font-weight: 600;
        top: 0px;
        line-height: 10px;
    }
    .card-contentprio{
        line-height: 12px;
        font-size: 13px;
    }
    .card-resultprio{
        line-height: 12px;
        font-size: 13px;
    }
    .mat-icon-button .mat-icon {
        line-height: 20px;
    }
    .disp-button{
        text-align: left;
        top: -2px;
    }
    .buffer-time{
        margin-left: auto;
        top: 5px;
        text-align: right;
        width: auto;
    }
    .play-btn{
        height: 20px !important;
        width: 20px !important;
    }
} 