.calendar-wrapper{
    
}
:host ::ng-deep mat-calendar mat-calendar-header .mat-calendar-header{
    display: none;
}
:host ::ng-deep .mat-calendar-body-cell.selected
{
  background-color:#FF4F00!important;
  border-radius: 50%;
}