.card-welcome{
    height: 280px;
    box-shadow: none;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
}
.card-welcome:hover, .card-welcome:focus{
    background-color: rgb(131 136 138 / 12%);
    border-radius: 145px;
    -webkit-border-radius: 145px;
	-moz-border-radius: 145px;
	-o-border-radius: 145px;
	-ms-border-radius: 145px;
	border-radius: 145px;
	-webkit-transition: border-radius 0.5s   linear ;
	-moz-transition: border-radius 0.5s   linear ;
	-o-transition: border-radius 0.5s   linear ;
	-ms-ransition: border-radius 0.5s   linear ;
	transition: border-radius 0.5s   linear ;
    .text-card{
        color: #ff4f00;
        font-size: 20px !important;
        font-weight: bold !important;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 2px;
        margin-top: 25px;
        opacity: 1;
    }
}
.text-card{
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    font-family: Open Sans,sans-serif;
    text-overflow: ellipsis;
    color: #2c495a !important;
    font-weight: 700;
    padding-bottom: 10px;
}
.company{
    height: 120px;
    background: url('../../../assets/images/company.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.location{
    height: 120px;
    background: url('../../../assets/images/location.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.provider{
    height: 120px;
    background: url('../../../assets/images/provider.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.service{
    height: 120px;
    background: url('../../../assets/images/service.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.calendar{
    height: 120px;
    background: url('../../../assets/images/calendar.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.hours{
    height: 120px;
    background: url('../../../assets/images/hours.svg');
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
h1{
    font-family: Montserrat;
    text-align: center;
    color: #2c495a !important
}
h2{
    font-family: Montserrat;
    text-align: center;
    color: #2c495a !important;
}
.features{
    background: #ff5b00;
    border-color: #ff5b00;
    margin-bottom: 30px;
    width: 64px;
    margin-top: 20px;
    border: 2px solid #ff5b00;
    margin: 10px auto;
}
.short-desc{
    color: #ff5b00;
    max-width: 315px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}