<div class="container-fluid">
    <div class="row justify-content-md-center pl-2 pr-1">
        <mat-card class="card-welcome col-md-3 mt-3 mr-3">
            <div class="">
                Setup your company
                <button mat-stroked-button [routerLink]="['/company']" class="action-buttons col-md-12" color="secondary" type="button">Company</button>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-md-3 mt-3 mr-3">
            <div class="">
                Setup your opening hours
                <button mat-stroked-button [routerLink]="['/businessope']" class="action-buttons col-md-12" color="secondary" type="button">Opening hours</button>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-md-3 mt-3 mr-3">
            <div class="">
                Setup your days off
                <button mat-stroked-button [routerLink]="['/businessdays']" class="action-buttons col-md-12" color="secondary" type="button">Days off</button>
            </div>
        </mat-card>
    </div>
</div>