<div class="container">
    <div class="row justify-content-md-center pl-2 pr-1 mt-3 mb-3">
        <h1 class="col-md-12" i18n="Welcome to Tu Cita 24/7@@welcome.mainmessage">Welcome to Tu Cita 24/7</h1>
        <div class="features"></div>
        <h2 class="col-md-12" i18n="Setup your preference@@welcome.secondarymessage">Follow these steps to set-up your preference</h2>
    </div>
    <div class="row">
        <!-- <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('company')">
            <div class="ml-3 mr-3">
                <div class="company mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your company|Welcome text@@welcome.setupcompany">1. Company</div>
                <div class="short-desc">Upload your image, and update your content</div>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('businessope')">
            <div class="ml-3 mr-3">
                <div class="hours mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your opening hours|Welcome text@@welcome.setupope">2. Opening hours</div>
                <div class="short-desc">Change or adjust your opening hours</div>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('businessdays')">
            <div class="ml-3 mr-3">
                <div class="calendar mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your days off|Welcome text@@welcome.setupdaysoff">3. Days off</div>
                <div class="short-desc">Mark your days off</div>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('locations')">
            <div class="ml-3 mr-3">
                <div class="location mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your location|Welcome text@@welcome.setuplocation">4. Location</div>
                <div class="short-desc">Describe your location with more precise data</div>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('providers')">
            <div class="ml-3 mr-3">
                <div class="provider mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your Service Provider|Welcome text@@welcome.setupservprovider">5. Service Provider</div>
                <div class="short-desc">Tell us which provider help your business grow</div>
            </div>
        </mat-card>
        <mat-card class="card-welcome col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" (click)="redirectTo('services')">
            <div class="ml-3 mr-3">
                <div class="service mb-4 mt-4"></div>
                <div class="text-card" i18n="Setup your services|Welcome text@@welcome.setupservices">6. Services</div>
                <div class="short-desc">Inform your customers about your services</div>
            </div>
        </mat-card> -->
    </div>
</div>