.home-img{
    background: url('../../../assets/images/home.svg');
    width: 90%;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}