<div class="container-fluid main-background">
    <div class="row p-0">
        <div class="list-form col-md-12 pl-4 m-0">
            <app-search i18n-placeholder="Search by first name|search in users@@users.searchtext"
                placeholder="Search by first name"></app-search>
        </div>
        <div class="col-md-12 pl-4 m-0">
            <div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
                <h3 i18n="USERS|title users@@users.title">USERS</h3>
            </div>
            <ng-container *ngIf="user$ | async"></ng-container>
            <ng-container *ngIf="userSave$ | async"></ng-container>
            <div class="row p-0 m-0">
                <mat-card class="col-sm col-md col-lg-7">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-4"><div class="form-field-check-slide ml-3 pr-3 pb-3" *ngIf="userForm.value.UserId !== '' && userForm.value.UserId !== null"><mat-slide-toggle class="slide-pos" color="primary" formControlName="Status">{{textStatus}}</mat-slide-toggle></div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field i18n-hintLabel="Email@@shared.Email" hintLabel="Email format">
                                <input matInput #Email i18n-placeholder="Email@@shared.Email" placeholder="Email"
                                    maxlength="200" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    formControlName="Email" [errorStateMatcher]="confirmValidParentMatcher"
                                    required>
                                <mat-spinner matSuffix *ngIf="loadingUser" diameter="18" color="primary"></mat-spinner>
                                <ng-container matSuffix *ngIf="availability$ | async as result">
                                    <mat-icon *ngIf="emailValidated"
                                        [ngClass]="{'icon-green':result.Available, 'icon-red':!result.Available}">
                                        {{result.Available ? 'check' : 'close' }}</mat-icon>
                                </ng-container>
                                <mat-error *ngIf="f.Email.invalid && f.Email.touched">{{getErrorMessage('Email')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field hintLabel="Min 5 characters"
                                i18n-hintLabel="Min 5 characters|text in users@@users.minchars">
                                <input matInput #First_Name i18n-placeholder="First Name|text in users@@users.firstname"
                                    placeholder="First Name" maxlength="100" minlength="3" formControlName="First_Name"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="f.First_Name.invalid && f.First_Name.touched">
                                    {{getErrorMessage('First_Name')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field hintLabel="Min 5 characters"
                                i18n-hintLabel="Min 5 characters|text in users@@users.minchars">
                                <input matInput #Last_Name i18n-placeholder="Last Name|text in users@@users.lastname"
                                    placeholder="Last Name" maxlength="100" minlength="3" formControlName="Last_Name"
                                    [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="f.Last_Name.invalid && f.Last_Name.touched">
                                    {{getErrorMessage('Last_Name')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field>
                                <input matInput #Phone placeholder="+1 (555) 555-1234" appPhoneMask maxlength="17"
                                    formControlName="Phone" [errorStateMatcher]="confirmValidParentMatcher" required>
                                <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">{{getErrorMessage('Phone')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field hintLabel="Min 8 characters"
                                i18n-hintLabel="Min 8 characters|text in users@@users.mninchars2"
                                *ngIf="f.UserId.value == ''">
                                <input matInput #Password i18n-placeholder="Password@@shared.Password"
                                    placeholder="Password" maxlength="20" minlength="8" formControlName="Password"
                                    [errorStateMatcher]="confirmValidParentMatcher" [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error
                                    *ngIf="f.Password.invalid && f.Password.touched && f.Password.errors?.minlength"
                                    i18n="Min 8 characters|text in users@@users.mninchars2">Minimun
                                    length 8</mat-error>
                                <mat-error *ngIf="f.Password.errors?.strong">
                                    <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                                </mat-error>
                                <!-- <mat-error
                                    *ngIf="f.Password.invalid && f.Password.touched && f.Password.errors?.pattern">
                                    <div
                                        i18n="Require at least 1 number, 1 uppercase and 1 lowercase letters|text in users@@users.policy">
                                        Require at least 1 number, 1 uppercase and 1 lowercase letters</div>
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="form-field pl-3 pr-3">
                            <mat-form-field>
                                <mat-label i18n="Role:|text in users@@users.role">Role:</mat-label>
                                <mat-select #roles formControlName="RoleId" required>
                                    <mat-option i18n="None@@shared.none">None</mat-option>
                                    <mat-option *ngFor="let rol of roles$ | async" [value]="rol.Role_Id">
                                        {{rol.Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.RoleId.invalid && f.RoleId.touched">{{getErrorMessage('RoleId')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="form-field-check ml-3 pr-3"
                            *ngIf="userForm.value.UserId !== '' && userForm.value.UserId !== null">
                            <mat-checkbox formControlName="Status" i18n="Status@@shared.status">Status</mat-checkbox>
                        </div> -->
                        <div>
                            <button mat-flat-button color="primary" *ngIf="invalid == 0" id="save" [disabled]="!userForm.valid"
                                class="ml-3 mr-3 mt-2" i18n="Save@@shared.save">Save</button>
                            <button mat-flat-button color="accent" id="cancel" type="button" (click)="onCancel()"
                                class="mt-2 ml-3" i18n="Cancel@@shared.cancel">Cancel</button>
                        </div>
                        <!-- {{ userForm.value | json }} -->
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>