.icon-red{
    color: red;
}
.icon-green{
    color: green;
}
.list-form{
    background: #fff;
}
.form-field-check-slide{
    text-align: right;
}
mat-card{
    margin-left:0px;
    border-radius: 0px;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.16) !important;
}
:host ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-underline {
            position: initial !important;
            display: block;
            margin-top: -1px;
        }
        .mat-form-field-subscript-wrapper,
        .mat-form-field-ripple {
            position: initial !important;
            display: table;
        }
        .mat-form-field-subscript-wrapper {
            min-height: calc(1em + 1px);
        }
    }
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}
.PRI{
    background: url("../../../../assets/images/pur.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.GTM{
    background: url("../../../../assets/images/gua.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.DEU{
    background: url("../../../../assets/images/ger.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.DOM{
    background: url("../../../../assets/images/rep.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.ESP{
    background: url("../../../../assets/images/spa.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
.USA{
    background: url("../../../../assets/images/usa.svg") left / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
::ng-deep .country-left .mat-select-value-text {
    padding-left: 40px;
}
.label-phone{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f44f00;
    font-family: 'Montserrat';
}
@media only screen and (max-width: 600px) {
    mat-card{
        margin-left: 0px;
    }
    .header-route{
        padding-left: 0px;
    }
    :host ::ng-deep .mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
            .mat-form-field-underline {
                position: initial !important;
                display: block;
                margin-top: -1px;
            }
            .mat-form-field-subscript-wrapper,
            .mat-form-field-ripple {
                position: initial !important;
                display: table;
            }
            .mat-form-field-subscript-wrapper {
                min-height: calc(1em + 1px);
            }
        }
    }
}