<ng-container *ngIf="saveSurvey$ | async"></ng-container>
<ng-container *ngIf="surveyData$ | async"></ng-container>
<mat-card class="col-sm col-md col-lg-4 ml-2 mt-2" *ngIf="!saveSurvey">
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-field">
            {{f.Name.value}}
        </div>
        <div class="panel-array col-md p-0 pt-3">
            <mat-horizontal-stepper formArrayName="Questions" linear>
                <mat-step [formGroupName]="i" *ngFor="let item of fQuestions.controls; let i=index" [stepControl]="item">
                    <div class="col-md-10 pl-0 pb-2 form-question">
                        {{item.get('Description').value}}
                    </div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="Result">
                        <mat-button-toggle value="1">
                            <mat-icon svgIcon="happy"></mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="2">
                            <mat-icon svgIcon="neutral"></mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="3">
                            <mat-icon svgIcon="angry"></mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="mt-4">
                        <button *ngIf="i<noItems-1" [disabled]="item.get('Result').value == 0" mat-flat-button matStepperNext color="primary" type="button" i18n="Next@@shared.next">Next</button>
                        <button *ngIf="i==noItems-1" [disabled]="item.get('Result').value == 0" mat-flat-button matStepperNext color="primary" type="submit" i18n="Save@@shared.save">Save</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <!-- {{ surveyForm.value | json }} -->
    </form>
</mat-card>
<div class="" *ngIf="saveSurvey" i18n="Thank you for your time|text in survey response@@survey.thanks">
    Thank you for your time
</div>