<div class="container-fluid h-100">
    <div class="row p-0">
        <div class="list-form col-md-12 pl-4 m-0">
            <div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
                <h3 i18n="PROFILE|Title Profile@@profile.profile">PROFILE</h3>
            </div>
            <ng-container *ngIf="userUpdate$ | async"></ng-container>
            <ng-container *ngIf="imgAvatar$ | async"></ng-container>
            <mat-card class="col-sm col-md col-lg-7" *ngIf="(user$ | async) && displayForm">
                <form [formGroup]="avatarForm" autocomplete="off" (ngSubmit)="onSubmitAvatar()">
                    <div class="circle">
                        <!-- User Profile Image -->
                        <img *ngIf="f.Avatar.value; else isIcon" class="profile-pic"
                            style="width: 100%; max-width: 250px;" [src]="imgPath+f.Avatar.value">
                        <ng-template #isIcon>
                            <!-- Default Image -->
                            <mat-icon class="profile-avatar">perm_identity</mat-icon>
                        </ng-template>
                        <div class="circle-overlay">
                            <button type="button" class="camera-avatar" mat-icon-button (click)="onClick()">
                                <mat-icon>add_a_photo</mat-icon>
                            </button>
                            <input id="fileUpload" name="fileUpload" type="file" accept="image/*"
                                style="display:none;" />
                        </div>
                    </div>
                </form>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-field pl-3 pr-3 pt-3 pb-3">
                        <mat-label i18n="Email@@shared.Email" class="label-phone">
                            Email :
                        </mat-label>
                        <span class="pl-3">{{f.Email.value}}</span>
                    </div>
                    <div class="form-field pl-3 pr-3">
                        <mat-form-field>
                            <input matInput #Name i18n-placeholder="First Name@@profile.firstname" placeholder="First Name" maxlength="100" formControlName="First_Name"
                                [errorStateMatcher]="confirmValidParentMatcher" required>
                            <mat-error *ngIf="f.First_Name.invalid && f.First_Name.touched">
                                {{ 'Error: ' + getErrorMessage('First_Name')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field pl-3 pr-3">
                        <mat-form-field>
                            <input matInput #Name i18n-placeholder="Last Name@@profile.lastname" placeholder="Last Name" maxlength="100" formControlName="Last_Name"
                                [errorStateMatcher]="confirmValidParentMatcher" required>
                            <mat-error *ngIf="f.Last_Name.invalid && f.Last_Name.touched">
                                {{ 'Error: ' + getErrorMessage('Last_Name')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field pr-3 pl-3">
                        <mat-label i18n="Phone|Phone in business@@business.phone" class="col-md-2 pl-0 pr-0 label-phone">Phone</mat-label>
                        <mat-form-field class="col-md-3">
                            <mat-select [ngClass]="f.CountryCode.value" class="country-left" formControlName="CountryCode" (selectionChange)="changeValues($event)">
                                <mat-option [value]="country.Country" *ngFor="let country of countryLst">
                                    <img with="15" height="15" [src]="country.Flag">
                                    {{country.Code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-md-4">
                            <input matInput appPhoneMask [ccode]="f.CountryCode" [placeholder]="phCountry" minlength="7" maxlength="17" formControlName="Phone"
                                [errorStateMatcher]="confirmValidParentMatcher" required>
                            <mat-error *ngIf="f.Phone.invalid && f.Phone.touched">
                                {{ 'Error: ' + getErrorMessage('Phone')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field pl-3 pr-3">
                        <mat-label class="" i18n="Language@@profile.language">
                            Language :
                        </mat-label>
                        <mat-radio-group aria-label="Select an option" formControlName="Language">
                            <mat-radio-button value="EN">English</mat-radio-button>
                            <mat-radio-button value="ES">Español</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="form-field pl-3 pr-3">
                        <button mat-flat-button color="primary" id="save" [disabled]="!profileForm.valid"
                            class="mr-3 mt-2" i18n="Save@@shared.save">Save</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>