.panel-lt-login{
    width: 100%;
}
.panel-rt-login{
    width: 100%;;
}
.spinner-login{
    position: absolute;
    left: 50%;
    top: 50%;
}
.overlay-login{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.418);
    z-index: 10;
    position: absolute;
}
.forgot-form{
    text-align: right;
    cursor: pointer;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.alert-danger{
    color: #fff;
    font-weight: 500;
}
.sign-in{
    color: #6F6F6F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.text-forgot{
    color: #fff !important;
}
.login-container {
    position: relative;
    height: 100vh;
}
.loginForm {
    width: 100%;
    height: 627px;
    max-width: 677px;
    max-height: 627px;
    background: #FA8D5D;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.main-logo{
    // background: url('../../../assets/images/logoTuCita247WH.png') no-repeat center center;
    height: 115px;
    background: url('../../../assets/images/logoTuCita247WH.svg');
    // height: 115px;
    width: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.login-form{
    width: 100%;
    max-width: 550px;
    min-height: 330px;
    max-height: 330px;
    background-color: #fff;
    margin: auto;
}
:host::ng-deep .mat-form-field-underline {
    background-color: #B6B6B6 !important;
}
::ng-deep .page-form-main {
    background-color: #C4C4C4;
    position: relative;
}