<div class="overlay-login" *ngIf="loading">
    <mat-progress-spinner class="spinner-login" matSuffix [diameter]="60" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div class="container login-container">
    <form [formGroup]="verifForm" class="loginForm" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="userAct$ | async"></ng-container>
        <div class="main-logo mb-5 mt-5"></div>
        <div class="login-form">
            <h3 class="sign-in pt-3 pl-4 pb-2" i18n="Activate Account@@verification.activateacct">Activate Account</h3>
            <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3" *ngIf="code != 0">
                <mat-form-field>
                    <mat-label i18n="Code@@verification.Code">Code</mat-label>
                    <input matInput formControlName="userCode" i18n-placeholder="Activation Code@@verification.activationcode" placeholder="Activation Code" max="999999" min="000001"
                        maxlength="6" minlength="6" required>
                </mat-form-field>
            </div>
            <ng-container formGroupName="Passwords" *ngIf="code != 0">
                <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3">
                    <mat-form-field hintLabel="Min 8 characters" i18n-hintLabel="Min 8 characters@@verification.minchar">
                        <mat-label i18n="Password@@shared.NewPassword">New Password</mat-label>
                        <input matInput formControlName="password" i18n-placeholder="Password@@shared.NewPassword" placeholder="New Password"
                            [errorStateMatcher]="confirmValidParentMatcher" [type]="hide ? 'password' : 'text'"
                            minlength="8" maxlength="20" strong
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.required" i18n="You must enter a password@@reset.invalidpass">You must enter a password</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.minlength" i18n="Minimun length 8@@reset.invalidlength">Minimun length 8</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.strong">
                            <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3">
                    <mat-form-field hintLabel="Min 8 characters" i18n-hintLabel="Min 8 characters@@verification.minchar">
                        <mat-label i18n="Confirm Password@@reset.confirmpass">Confirm Password</mat-label>
                        <input matInput formControlName="confpassword" i18n-placeholder="Password@@shared.Password" placeholder="Password"
                            [errorStateMatcher]="confirmValidParentMatcher" [type]="hideconf ? 'password' : 'text'"
                            minlength="8" maxlength="20" strong
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hideconf = !hideconf"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hideconf ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.required" i18n="You must enter a password@@reset.invalidpass">You must enter a password</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.minlength" i18n="Minimun length 8@@reset.invalidlength">Minimun length 8</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.strong">
                            <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                        </mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.notSame" i18n="Confirm Password does not match@@reset.invalidconfpass">Confirm Password does not match</mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container formGroupName="Passwords" *ngIf="code == 0">
                <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3">
                    <mat-form-field hintLabel="Min 8 characters">
                        <mat-label i18n="Temporary Password@@verification.temporarypass">Temporary Password</mat-label>
                        <input matInput formControlName="temppassword" i18n-placeholder="Temporary Password|placeholder@@verification.tempplaceholder" placeholder="Temporary Password"
                            [errorStateMatcher]="confirmValidParentMatcher" [type]="hide ? 'password' : 'text'"
                            minlength="8" maxlength="20" strong
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="verifForm.get('Passwords.temppassword').errors?.required" i18n="You must enter a password@@reset.invalidpass">You must enter a password</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.temppassword').errors?.minlength" i18n="Minimun length 8@@reset.invalidlength">Minimun length 8</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.temppassword').errors?.strong">
                            <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3">
                    <mat-form-field hintLabel="Min 8 characters">
                        <mat-label i18n="Password@@shared.NewPassword">New Password</mat-label>
                        <input matInput formControlName="password" i18n-placeholder="Password@@shared.NewPassword" placeholder="New Password"
                            [errorStateMatcher]="confirmValidParentMatcher" [type]="hide ? 'password' : 'text'"
                            minlength="8" maxlength="20" strong
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.required" i18n="You must enter a password@@reset.invalidpass">You must enter a password</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.minlength" i18n="Minimun length 8@@reset.invalidlength">Minimun length 8</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.password').errors?.strong">
                            <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field mb-0 pl-4 pb-2 pr-4 pt-3">
                    <mat-form-field hintLabel="Min 8 characters">
                        <mat-label i18n="Confirm Password@@reset.confirmpass">Confirm Password</mat-label>
                        <input matInput formControlName="confpassword" i18n-placeholder="Password@@shared.Password" placeholder="Password"
                            [errorStateMatcher]="confirmValidParentMatcher" [type]="hideconf ? 'password' : 'text'"
                            minlength="8" maxlength="20" strong
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hideconf = !hideconf"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hideconf ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.required" i18n="You must enter a password@@reset.invalidpass">You must enter a password</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.minlength" i18n="Minimun length 8@@reset.invalidlength">Minimun length 8</mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.strong">
                            <div i18n="Require at least 1 number, 1 uppercase and 1 lowercase letter@@reset.invalidpolicy">Require at least 1 number, 1 uppercase and 1 lowercase letter</div>
                        </mat-error>
                        <mat-error *ngIf="verifForm.get('Passwords.confpassword').errors?.notSame" i18n="Confirm Password does not match@@reset.invalidconfpass">Confirm Password does not match</mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="forgot-form mt-3 mb-3">
                <button mat-flat-button color="primary" id="save" type="submit" [disabled]="loading" class="text-center w-100" i18n="Activate Account@@verification.activateacct">Activate Account</button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
        </div>
    </form>
</div>