<div class="container-fluid h-100 main-background">
    <div class="row p-0">
        <div class="list-form col-md-12 pl-4 m-0">
            <div class="pl-0 pr-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
                <h3>USERS LOCATIONS</h3>
            </div>
            <ng-container *ngIf="saveUser$ | async"></ng-container>
            <ng-container *ngIf="users$ | async"></ng-container>
            <form [formGroup]="usersForm">
                <mat-table [dataSource]="fUsers.controls" formArrayName="users" [trackBy]="trackRow"
                    class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef class="col-md-2"> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index" class="col-md-2">
                            {{element.value.Name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <mat-header-cell *matHeaderCellDef class="col-md"> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i=index" class="col-md">
                            {{element.value.Email}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Location">
                        <mat-header-cell *matHeaderCellDef class="col-md-2"> Location
                        </mat-header-cell>
                        <ng-container *ngIf="locs$ | async"></ng-container>
                        <mat-cell *matCellDef="let element; let i = index" class="col-md-2"
                            [formGroup]="element">
                            <mat-select formControlName="LocationId" (selectionChange)="changeLocation($event, i)">
                                <mat-option *ngFor="let res of locations" [value]="res.LocationId">
                                    {{res.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Door">
                        <mat-header-cell *matHeaderCellDef class="col-md-2"> Door </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index" class="col-md-2"
                            [formGroup]="element">
                            <mat-select formControlName="Door">
                                <mat-option *ngFor="let res of door[i]" [value]="res">
                                    {{res}}
                                </mat-option>
                            </mat-select>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef class="col-md-1"> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index" class="col-md-1">
                            <button mat-icon-button (click)="changeData(i, element)">
                                <mat-icon>check_circle_outline</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index"></mat-row>
                </mat-table>
            </form>
            <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]= "[5, 10, 25, 100]"
                (page)="goToPage($event.pageIndex, $event.pageSize)">
            </mat-paginator>
        </div>
    </div>
</div>