<p>userloc works!</p>


<mat-table [dataSource]="fUsers.controls" formArrayName="users" [trackBy]="trackRow"
    class="w-100 mt-4 mb-4 mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef class="col-md-7 mat-column-th-Name"> Name </mat-header-cell>
        <mat-cell *matCellDef="let element;let i=index" class="col-md-7 mat-column-td-Name"> {{element.value.Name}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef class="col-md-7 mat-column-th-Email"> Email </mat-header-cell>
        <mat-cell *matCellDef="let element;let i=index" class="col-md-7 mat-column-td-Email"> {{element.value.Email}}
        </mat-cell>
    </ng-container>

    <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Location"> Location </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Location" [formGroup]="element">
        <mat-select formControlName="LocationId" (selectionChange)="changeLocation($event, i)">
            <mat-option *ngFor="let res of locs$ | async" [value]="res.LocationId">
                {{res.Name}}
            </mat-option>
        </mat-select>
    </mat-cell>

    <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Door"> Door </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Door" [formGroup]="element">
        <mat-select formControlName="Door" (selectionChange)="changeDoor($event, i)">
            <mat-option *ngFor="let res of door$ | async" [value]="res.Door">
                {{res.Door}}
            </mat-option>
        </mat-select>
    </mat-cell>

    <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef class="col-md-1"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-Actions">
            <button mat-icon-button color="warn" (click)="removeItem(i)">
                <mat-icon>check_circle_outline</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" (click)="selection.toggle(row)"></mat-row>
</mat-table>