<div class="container-fluid host-container">
    <div class="row">
        <div class="col-sm col-md col-lg-12">
            <div class="row space-row mb-2">
                <div class="col-md mt-2 title-qeue">
                    Mon
                </div>
                <div class="col-md mt-2 title-qeue">
                    Tue
                </div>
                <div class="col-md mt-2 title-qeue">
                    Wed
                </div>
                <div class="col-md mt-2 title-qeue">
                    Thu
                </div>
                <div class="col-md mt-2 title-qeue">
                    Fri
                </div>
                <div class="col-md mt-2 title-qeue">
                    Sat
                </div>
                <div class="col-md mt-2 title-qeue">
                    Sun
                </div>
            </div>
        </div>
    </div>
</div>
