.title-qeue{
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    height: 23px;
    color: #f44f00;
}
.month-qeue{
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
}
.location-select{
    height: 65.5px;
}
.calendar-search{
    height: 86px;
}
.btn-search{
    height: 45px;
    width: 150px;
    font-size: 19px;
    text-align: left;
    margin-left: 10px;
}
.input-search{
    width: 73%;
    font-size: 12px;
}
.mat-icon-button{
    height: 26px !important;
    line-height: 24px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #18A0FB;
    background-color: #f5f5f5;
}
.hour-available{
    color: green;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.hour-disabled{
    background: white;
    border: 1px solid lightgray;
    background-color: lightgray;
}
.nav-buttons{
    color: #F44F00;
}
.option-prov{
    font-weight: 600;
}
.nav-refresh{
    height: 35px;
    width: 35px;
    top: -4px;
    left: 10px;
    line-height: 30px;
}
.time-bucket{
    height: 30px;
}
.blank-bucket{
    height: 7px;
}
.div-style{
    position: relative;
    text-align: right;
}
.time-hr{
    font-size: 16px;
    position: relative;
    top: -20px;
    left: -2px;
    text-align: right;
    color:#000;
}
.min-hr{
    color:#000;
}
.time-actions{
    height: 30px;
    width: 140px;
    min-width: 140px;
    max-width: 160px;
    background-color: #fff;
    margin: 0 auto !important;
    border: 1px dotted #c4c4c4;
}
.time-disabled{
    height: 30px;
    width: 140px;
    min-width: 140px;
    max-width: 160px;
    background-color: #e5e3e2 !important;
    margin: 0 auto !important;
    border: 1px dotted #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-actions-disabled{
    height: 30px;
    width: 140px;
    min-width: 140px;
    max-width: 160px;
    margin: 0 auto !important;
}
.hidden-down{
    display: none;
}
.hidden-up{
    display: none;
}
.show-up{
    display: block;
}
.show-down{
    display: block;
}
.service-info{
    font-size:10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.btn-add{
    text-align: left;
}
.btn-trash{
    text-align: right;
}
.blank-row{
    height: 7px;
}
.time-week{
    height: 59px;
    padding-bottom: 10px !important;
    border: 1px solid #18A0FB;
    background: #fff;
}
.space-hours{
    border-top: 1px solid #bebebe;
    position: relative;
    top: 3px;
}
.button-collapse{
    position: relative;
    top: -18px;
    left: -90px;
}
.hr-style{
    font-size: 65px;
    padding: 0;
    top: -15px;
    position: relative;
    right: 0px;
    color: #000;
}
.action-enabled{
    stroke: #F44F00;
}
.action-disabled{
    stroke: lightgray;
}
.back-enabled{
    color: #FF4F00;
}
.back-disabled{
    color:lightgray;
}
.list-form{
    background: #fff;
}
.main-background{
    background: #F5F5F5;
    height: auto !important;
}
.square-color{
    width: 20px;
    height: 20px;
    border: 2px solid #e5e3e2;
    border-radius: 90%;
    margin-right: 5px;
}
.text-schedule{
    display: inline-block !important;
}
.help-btn{
    position: relative;
    top: -3px;
}
.content-hr {
    position: relative;;
    top: 0px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: 1px solid #18A0FB;
    background: #fff;
}
.sticky-header{
    position:sticky;
    position: -webkit-sticky;
    top: 66px;
    // position: fixed;
    // width: calc(100vw - 15px);
    z-index: 100;
    background-color: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;
}
::ng-deep .mat-tooltip {
    background-color: #ff4f00;
}
:host ::ng-deep .mat-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }
button.mat-icon-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
button.mat-stroked-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}