.title-qeue{
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    height: 23px;
}
.month-qeue{
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
}
.calendar-title{
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 800;
}
.hour-available{
    color: green;
    text-align: center;
    font-weight: 600;
    line-height: 45px;
}
.hour-disabled{
    background: white;
    border: 1px solid lightgray;
    background-color: lightgray;
}
.nav-buttons{
    color: #F44F00;
}
.option-prov{
    font-weight: 600;
}
.nav-refresh{
    height: 35px;
    width: 35px;
    top: -4px;
    left: 10px;
    line-height: 30px;
}
.time-bucket{
    height: 46px;
}
.time-actions{
    height: 47px;
    background-color: #fff;
    border: 1px solid lightgray;
}
.time-disabled{
    height: 47px;
    background-color: #e5e3e2;
    border: 1px solid lightgray;
}
.time-actions-disabled{
    height: 47px;
    background-color: #e5e3e2;
    // border: 1px solid lightgray;
}
.time-week{
    height: 50px;
}
.action-enabled{
    stroke: #F44F00;
}
.action-disabled{
    stroke: lightgray;
}
.back-enabled{
    color: #FF4F00;
}
.back-disabled{
    color:lightgray;
}
.list-form{
    background: #fff;
}
.main-background{
    background: #F5F5F5;
    height: calc(100vh - 64px) !important;
}
.square-color{
    width: 20px;
    height: 20px;
    border: 2px solid #e5e3e2;
    border-radius: 90%;
    margin-right: 5px;
}
.text-schedule{
    display: inline-block !important;
}
.help-btn{
    position: relative;
    top: -3px;
}
.content-hr {
    position: relative;;
    top: 345px;
}
.sticky-header{
    position: fixed;
    height: 340px;
    width: calc(100vw - 15px);
    z-index: 100;
    background-color: #f5f5f5;
}
::ng-deep .mat-tooltip {
    background-color: #ff4f00;
}
:host ::ng-deep .mat-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }
button.mat-icon-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
button.mat-stroked-button
{
    &.cdk-program-focused 
    {
        ::ng-deep .mat-button-focus-overlay
        {
            opacity: 0;  // hide overlay
        }
    }
}
@media (min-width: 1201px){
    .sticky-header{
        width: calc(100vw - 239px - 15px);
    }
}