<h3 class="pr-3" i18n="Appointment Messages|text in appo messages@@message.title">Appointment messages</h3>
<h4>{{appo.Name}}</h4>
<h4>{{appo.DateAppo}}</h4>
<div class="row pl-3 pr-3 mb-0 mt-3">
    <ng-container *ngIf="messages$ | async"></ng-container>
    <ng-container *ngIf="comments$ | async"></ng-container>
    <ng-container *ngIf="liveData$ | async"></ng-container>
    <div class="col-sm-11 pl-0 pr-0">
        <textarea class="card-text" #messageText matInput i18n-placeholder="Write a comment...|text in citas@@host.comments" placeholder="Write a comment..."></textarea>
    </div>
    <div class="button-send col-md pr-0 pl-0">
        <button mat-icon-button type="button" (click)="onMessageApp( messageText )">
            <mat-icon class="send_icon">send</mat-icon>
        </button>
    </div>
    <div class="card-chat pl-3 pr-3 mb-0 mt-3 col-md-12">
        <ng-container *ngFor="let item of getComments;">
            <div class="row row justify-content-start" id="chat" *ngIf="item.U != undefined">
                <div class="card-chat-user col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                    <div class="card-chat-time">{{item.T}}</div>
                    {{item.U}}
                </div>
            </div>
            <div class="row justify-content-end" id="chat" *ngIf="item.H != undefined">
                <div class="card-chat-host col-md-9 pt-2 pb-2 mt-1 mb-1 mr-1 ml-1">
                    <div class="card-chat-time">{{item.T}}</div>
                    {{item.H}}
                </div>
            </div>
        </ng-container>
    </div>
</div>