<div>
    <div class="card" class="col-md-12 pl-2 pr-2 pt-0 main-title">
        {{data.title}}
        <mat-card class="card-video">
            <div class="row">
                <div class="pb-3">
                    <!-- <webcam width="370" height="300" class="w-100 pb-3" id="video" #video></webcam> -->
                    <video class="w-100 pb-3" id="video" #video autoplay playsinline></video>
                </div>
                <!-- <div style="display:none"> -->
                    <canvas class="w-100 pb-3" id="canvas" #canvas></canvas>
                <!-- </div> -->
            </div>
        </mat-card>
        <div class="pt-3">
            <ng-container *ngIf="!videoStart">
                <button mat-fab class="mat-elevation-z1" (click)="toggleVideoMedia()" [disabled]="videoStart"
                    color="secondary" aria-label="videocam icon-button">
                    <mat-icon>videocam</mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="videoStart">
                <button mat-fab (click)="toggleVideoMedia()" [disabled]="!videoStart" color="warn"
                    aria-label="videocam icon-button">
                    <mat-icon>videocam_off</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
    <mat-form-field class="pt-3">
        <mat-label i18n="Cita Code|text in checkin/checkout@@video.citacode">Cita Code</mat-label>
        <input matInput placeholder="QR Code" [(ngModel)]="qrCode">
    </mat-form-field>
    <mat-label class="label-guests" i18n="Guests|text in guests@@video.guests">Guests</mat-label>
    <button mat-icon-button (click)="data.guests=data.guests+1">
        <mat-icon class="site-color">add</mat-icon>
    </button>
    <mat-form-field class="num-guests">
        <input matInput [(ngModel)]="data.guests">
    </mat-form-field>
    <button mat-icon-button (click)="(data.guests > 1 ? data.guests=data.guests-1 : data.guests)">
        <mat-icon class="site-color">remove</mat-icon>
    </button>
    <div>
        <button mat-flat-button class="mr-3 btn-cancel" (click)="onNoClick()" i18n="Cancel@@shared.cancel">Cancel</button>
        <button mat-flat-button color="primary" class="btn-ok" (click)="onOK()" cdkFocusInitial i18n="Ok@@shared.ok">Ok</button>
    </div>
</div>