<h1 mat-dialog-title class="main-title">{{data.title}}</h1>
<div mat-dialog-content>
    <ng-container *ngIf="appoData$ | async"></ng-container>
    <zxing-scanner class="display-webcam" #scanner 
        (start)="enabledCamera" 
        (camerasFound)="displayCameras($event)"
        [device]="currentDevice"
        (scanSuccess)="handleQrCodeResult($event)">
    </zxing-scanner>
    <select (change)="onDeviceSelectChange($event.target.value)" class="mt-4">
        <option value="" [selected]="!currentDevice">No Device</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
    </select>
    <div class="row">
        <div class="pt-0 pb-0 col-md-5 col-12">
            <mat-form-field class="pb-0">
                <mat-label i18n="Cita Code|text in checkin/checkout@@video.citacode">Cita Code</mat-label>
                <input matInput placeholder="QR Code" [(ngModel)]="qrCode" 
                    [ngClass]="{'blink-qr': activeBlink == 1,
                    'standard-qr': activeBlink == 0}"
                    (ngModelChange)="validQr($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="pt-0 pb-0 col-md-7 col-12">
            <mat-label class="label-guests" i18n="Guests|text in guests@@video.guests">Guests</mat-label>
            <button mat-icon-button (click)="Guests=Guests+1">
                <mat-icon class="site-color">add</mat-icon>
            </button>
            <mat-form-field class="num-guests pb-0">
                <input matInput [(ngModel)]="Guests">
            </mat-form-field>
            <button mat-icon-button (click)="(Guests > 1 ? Guests=Guests-1 : Guests)">
                <mat-icon class="site-color">remove</mat-icon>
            </button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button class="mr-3 btn-cancel" (click)="onNoClick()" i18n="Cancel@@shared.cancel">Cancel</button>
    <button mat-flat-button color="primary" class="btn-ok mr-3" (click)="onOK()" cdkFocusInitial>Scan</button>
    <button mat-flat-button color="primary" class="btn-ok" (click)="onManual()" cdkFocusInitial>Manual</button>
</div>