<div class="container-fluid h-100">
    <div class="row row pl-2 pr-1">
        <div class="pl-15 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
            <h4>Locations</h4>
        </div>
        <div class="pl-15 pt-1 col-md-12">
            <ng-container *ngIf="(locationSave$ | async) && savingLocation"></ng-container>
            <ng-container *ngIf="location$ | async"></ng-container>
            <div>
                <button class="mr-3 mt-2 mb-2" type="button" mat-flat-button color="primary"
                    (click)="addLocation()">+ Location</button>
            </div>
            <ng-container *ngIf="parentBus$ | async"></ng-container>
            <form [formGroup]="locationForm" (ngSubmit)="onSubmitLocations()">
                <ng-template>Locations</ng-template>
                <mat-accordion>
                    <ng-container class="" formArrayName="locations"
                        *ngFor="let item of fLocations.controls; let i = index;">
                        <ng-container [formGroupName]="i">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'Location Name : ' + item.value.Name }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <button *ngIf="item.get('LocationId').value == ''" class="mr-3 mt-2 mb-2"
                                        type="button" mat-flat-button color="primary"
                                        (click)="delLocation(i)">- Delete Location</button>
                                </div>
                                <mat-form-field hintLabel="Name">
                                    <input matInput placeholder="Location Name" formControlName="Name" maxlength="500"
                                        minlength="3" [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="item.get('Name').invalid">{{getErrorMessage('SName', i)}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field hintLabel="Address">
                                    <input matInput placeholder="Address" formControlName="Address" maxlength="500"
                                        minlength="3" [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="item.get('Address').invalid">
                                        {{getErrorMessage('SAddress', i)}}</mat-error>
                                </mat-form-field>
                                <div class="row">
                                    <ng-container *ngIf="sectors$ | async"></ng-container>
                                    <mat-form-field class="col-md-5" hintLabel="City">
                                        <mat-select formControlName="City"
                                            (selectionChange)="loadSectors($event.value, i)" required>
                                            <mat-option *ngFor="let city of cities" [value]="city.CityId">
                                                {{ city.Name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.get('City').invalid">
                                            {{getErrorMessage('SCity', i)}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md" hintLabel="Sector">
                                        <mat-select formControlName="Sector" required>
                                            <mat-option *ngFor="let sector of sectors[i]" [value]="sector.SectorId">
                                                {{ sector.Name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.get('Sector').invalid">
                                            {{getErrorMessage('Sector', i)}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="col-md-3" hintLabel="Max concurrent customer">
                                        <input matInput placeholder="Max Concurrent Customers"
                                            formControlName="MaxConcurrentCustomer"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="item.get('MaxConcurrentCustomer').invalid">
                                            {{getErrorMessage('MaxConcurrentCustomer', i)}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md" hintLabel="Service Time interval">
                                        <input matInput placeholder="Service Time Interval"
                                            formControlName="BucketInterval"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="item.get('BucketInterval').invalid">
                                            {{getErrorMessage('BucketInterval', i)}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md-3"
                                        hintLabel="Number of appointments by service interval">
                                        <input matInput placeholder="Number of appointments by service interval"
                                            formControlName="TotalCustPerBucketInter"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                        <mat-error *ngIf="item.get('TotalCustPerBucketInter').invalid">
                                            {{getErrorMessage('TotalCustPerBucketInter', i)}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="col-md" hintLabel="Doors" *ngIf="doors[i] != undefined">
                                        <mat-chip-list #chipDoors>
                                            <ng-container *ngIf="doors[i].length > 0">
                                                <mat-chip *ngFor="let door of doors[i].split(',')"
                                                    [selectable]="selectable" [removable]="removable"
                                                    (removed)="removeDoor(door,i)">
                                                    {{door}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                            </ng-container>
                                            <input placeholder="New Door..." [matChipInputFor]="chipDoors"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="addDoor($event,i)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                    <mat-form-field class="col-md-6" hintLabel="Parent location">
                                        <mat-select formControlName="ParentLocation" required>
                                            <mat-option *ngFor="let parentBus of businessParent"
                                                [value]="parentBus.BusinessId">
                                                {{parentBus.Name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.get('ParentLocation').invalid">
                                            {{getErrorMessage('ParentLocation', i)}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-10 mt-3 mb-3">
                                    <agm-map [latitude]="latLoc[i]" [zoom]="zoom" [longitude]="lngLoc[i]">
                                        <agm-marker [latitude]="latLoc[i]" [longitude]="lngLoc[i]"
                                            [markerDraggable]="true" (dragEnd)="markerDragEndLoc($event, i)">
                                        </agm-marker>
                                    </agm-map>
                                </div>
                                <div class="form-field-check">
                                    <mat-checkbox formControlName="ManualCheckOut">Manual Check Out
                                    </mat-checkbox>
                                </div>
                                <div class="form-field-check mt-2 mb-3">
                                    <mat-checkbox formControlName="Status">Status</mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                        </ng-container>
                    </ng-container>
                </mat-accordion>
                <div>
                    <button class="mr-3 mt-2" mat-flat-button color="accent">Back</button>
                    <button class="mr-3 mt-2" mat-flat-button color="primary" [disabled]="!locationForm.valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>