.qr-text-disp{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
}
.qr-img-disp{
    height: 475px;
    width: 475px;
}
.title-disp{
    text-align: center;
}
.qr-style-disp{
    margin-top: 38px;
    margin-bottom: 38px;
}
.display-area{
    height: 675px;
    min-height: 675px;
}