.qr-text{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.qr-img{
    height: 344px;
    width: 344px;
    float: left;
    margin-right: 10px;
}
.title{
    text-align: center;
}
.content-st{
    height: 410px;
}