<div class="container-fluid h-100 main-background">
    <div class="row p-0">
        <div class="list-form col-md-12 pl-4 m-0">
            <app-search placeholder="Search by name" (setValue)="filterList($event)" (view)="getForm($event)"></app-search>
            <!-- [setForm]="valueForm" -->
        </div> 
        <app-user-list class="col-md-12 pl-4 m-0" *ngIf="displayForm == 'Search'" (userSelected)="onSelected($event)" [filterValue]="filterData"></app-user-list>
        <app-user class="col-md-12 pl-4 m-0" *ngIf="displayForm == 'Add'" [user]="clickedUser"></app-user>
    </div>
</div>