.err-message{
    color:red;
    font-size:14px;
    font-family: Montserrat;
    font-weight: 600;
}
.client_gender{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.button-appo{
    width: 100px;
}