.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}
::ng-deep div.mat-menu-panel {
  min-width: 180px !important;
  max-width: 300px !important;
}
.img-profile{    
  height: 40px;
  width: 40px;
}
.item-language{
  color:black !important;
}
.item-list{
  // background-color: #FF4F00;
  color: #898989;
  height: 40px !important;
}
.item-list:focus{
  background: none !important;
}
.item-list:hover{
  // background-color: #FF4F00;
  color: #FF4F00;
  cursor: context-menu;
  height: 40px;
}
.list-item{
  text-transform: uppercase;
  color: #898989;
}
.list-item:hover{
  text-transform: uppercase;
  color: #FF4F00;
  background: none;
}
.list-item:focus{
  background: none;
}
.list-item-2{
  text-transform: uppercase;
  color: #898989;
  font-size: 14px;
}
.list-item-2:hover{
  text-transform: uppercase;
  color: #FF4F00;
  background: none;
}
.list-item-2:focus{
  background: none;
}
.menu-active{
  border-color: #FF4F00 !important;
  border-left: 3px solid;
  color: #FF4F00;
  font-weight: 500;
  text-transform: uppercase;
  // background-color: #e3e7ef;
}
.main-logo{
  background: url('../../../assets/images/logoTuCita247.pnh') no-repeat left center;
  height: 100px;
}
.mat-toolbar-main {
  background: #ff4f00;
  color: white;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}