<ng-container *ngIf="resetToken$ | async"></ng-container>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="main-logo">
      </mat-toolbar>
      <mat-nav-list color="primary">
        <a class="list-item-business" mat-list-item pt-2 mb-2>{{businessName}}</a>
        <mat-divider></mat-divider>
        <a class="list-item" mat-list-item [routerLink]="['/welcome']" routerLinkActive="menu-active">Welcome</a>
        <ng-container class="" *ngFor="let item of apps$ | async">
          <a class="list-item" *ngIf="item.Active == '1'" mat-list-item [routerLink]="['/'+item.Route]" routerLinkActive="menu-active">{{ item.Name }}</a>
        </ng-container>
        <div *ngIf="isAdmin">
          <mat-divider></mat-divider>
          <!-- <a mat-list-item class="item-list">{{ 'SETTINGS'}}</a> -->
          <mat-accordion multi="true" [displayMode]="displayMode">
            <mat-expansion-panel class="no-shadow">
              <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
                <mat-panel-title>
                  Time Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list class="accordion-menu ml-0" dense>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/businessope']" routerLinkActive="submenu-active" class="value-submenu-item">Company hours</a>
                </mat-list-item>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/businessdays']" routerLinkActive="submenu-active" class="value-submenu-item">Company days off</a>
                </mat-list-item>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/locationope/1']" routerLinkActive="submenu-active" class="value-submenu-item">Location hours</a>
                </mat-list-item>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/locationdays/1']" routerLinkActive="submenu-active" class="value-submenu-item">Location days off</a>
                </mat-list-item>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/providerope/2']" routerLinkActive="submenu-active" class="value-submenu-item">Provider schedule</a>
                </mat-list-item>
                <mat-list-item class="submenu-item">
                  <a [routerLink]="['/providerdays/2']" routerLinkActive="submenu-active" class="value-submenu-item">Provider days off</a>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/company']" routerLinkActive="menu-active">Company</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/locations']" routerLinkActive="menu-active">Locations</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/providers']" routerLinkActive="menu-active">Service Providers</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/services']" routerLinkActive="menu-active">Services</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/users']" routerLinkActive="menu-active">Users</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/userloc']" routerLinkActive="menu-active">User Locations</a>
          <a mat-list-item class="list-item-2 pl-3" [routerLink]="['/roles']" routerLinkActive="menu-active">Roles</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-toolbar-main">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="!(isHandset$ | async)">
          <mat-icon>dehaze</mat-icon>
        </button>
        <!-- <span></span> -->
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="mr-1">
          <mat-icon *ngIf="language === ''">language</mat-icon>
          <img [src]="language" width="20"/>
        </button>
        <mat-menu #languageMenu="matMenu" xPosition="before">
          <a class="item-language" mat-menu-item href="https://console.tucita247.com/en"><img class="mr-4 ml-1" width="30"/>  English</a> <!--src="assets/images/icon/EN.svg"-->
          <a class="item-language" mat-menu-item href="https://console.tucita247.com/es"><img class="mr-4 ml-1" width="30"/>  Español</a> <!-- src="assets/images/icon/ES.svg"-->
        </mat-menu>
        <button mat-icon-button class="mr-1" [routerLink]="['/help']">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <img *ngIf="avatar!=''; else isIcon" id="img-profile" class="img-profile rounded-circle" [src]="authService.userAvatar?authService.userAvatar:avatar">
          <ng-template #isIcon>
            <mat-icon class="rounded circle">perm_identity</mat-icon>
          </ng-template>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/profile']"><mat-icon>perm_identity</mat-icon>Profle</button>
          <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  