.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}
::ng-deep div.mat-menu-panel {
  min-width: 180px !important;
  max-width: 300px !important;
}
.img-profile{    
  height: 40px;
  width: 40px;
}
.item-language{
  color:black !important;
}
.item-list{
  // background-color: #FF4F00;
  color: #898989;
  height: 40px !important;
}
.item-list:focus{
  background: none !important;
}
.item-list:hover{
  // background-color: #FF4F00;
  color: #FF4F00;
  cursor: context-menu;
  height: 40px;
}
.list-item{
  text-transform: uppercase;
  color: #898989;
}
.list-item:hover{
  text-transform: uppercase;
  color: #FF4F00;
  background: none;
}
.list-item-business{
  font-weight: 600;
  cursor: none;
  color: #898989;
  text-transform: uppercase;
  line-height: 22px;
}
.list-item-business:hover{
  font-weight: 600;
  cursor: none;
  color: #898989;
  text-transform: uppercase;
  background: none;
}
.mat-list-item:hover{
  background: none;
}
.list-item-2{
  text-transform: uppercase;
  color: #898989;
  font-size: 14px;
  padding-left: 0px !important;
}
.list-item-2:hover{
  text-transform: uppercase;
  color: #FF4F00;
  background: none;
}
.list-item-2:focus{
  background: none;
}
.menu-active{
  border-color: #FF4F00 !important;
  border-left: 3px solid;
  color: #FF4F00;
  font-weight: 500;
  text-transform: uppercase;
  // background-color: #e3e7ef;
}
.main-logo{
  height: 102px;
  background: url('../../../assets/images/logoTuCita247.svg');
  width: 180px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin: 0 auto;
}
.mat-toolbar-main {
  background: #ff4f00;
  color: white;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.mat-expansion-panel-header-title{
  text-transform: uppercase;
  color: #898989;
  font-size: 14px;
}
.mat-expansion-panel{
  box-shadow: none !important;
}
:host ::ng-deep mat-accordion .mat-expansion-panel-header{
  padding-left: 16px;
}
:host ::ng-deep mat-accordion .mat-expansion-panel .mat-expansion-panel-body{
  padding-left: 16px !important;
  padding-bottom: 0px !important;
}
.submenu-item{
  padding: 0px !important;
}
.submenu-item:hover{
  background: none;
}
:host ::ng-deep mat-nav-list .submenu-item .mat-list-item-content{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.value-submenu-item{
  color: #898989 !important;
  font-size: 14px;
}
.value-submenu-item:hover{
  color: #FF4F00 !important;
  font-size: 14px;
}
:host ::ng-deep .mat-expansion-panel .mat-expansion-panel-header{
  background: none !important;
}
:host ::ng-deep .mat-expansion-panel .mat-expansion-panel-header-title:hover{
  color: #FF4F00 !important;
}