.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 240px;
  overflow-x: hidden;
  background-color: #232f3e;
}
.loc-logo{
  width: 100%;
  background-color: #fff;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.disp-busImg{
  margin: auto;
  width: 100%;
  text-align: center;
}
.img-02{
  height: 75px;
}
.img-01{
  height: 50px;
}
.spacer{
  flex: 1 1 auto;
}
.language-string{
  color: #ff4f00 !important;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 13px;
}
::ng-deep div.mat-menu-panel {
  min-width: 180px !important;
  max-width: 300px !important;
}
.img-profile{    
  height: 40px;
  width: 40px;
}
.item-language{
  color:black !important;
}
.item-list{
  // background-color: #FF4F00;
  color: #898989;
  height: 40px !important;
}
.item-list:focus{
  background: none !important;
}
.item-list:hover{
  // background-color: #FF4F00;
  color: #f55b00;
  cursor: context-menu;
  height: 40px;
}
.list-item-welcome{
  text-transform: capitalize;
  color: #aab7b8;
  height: 40px !important;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  position: relative;
  left: 30px;
}
.list-item-welcome:hover{
  text-transform: capitalize;
  color: #fff;
  // background-color: #989898;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  position: relative;
  left: 30px;
}
.list-item{
  text-transform: capitalize;
  color: #aab7b8;
  height: 40px !important;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}
.list-item:hover{
  text-transform: capitalize;
  color: #fff;
  // background-color: #989898;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}
.mat-welcome{
  padding-left: 28px !important;
  padding-top: 5px !important;
  color: #aab7b8;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: Montserrat;
}
.mat-welcome:hover{
  padding-left: 28px !important;
  padding-top: 5px !important;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: Montserrat;
}
.list-item-business{
  font-weight: 600;
  cursor: none;
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
}
.list-item-business:hover{
  font-weight: 600;
  cursor: none;
  color: #fff;
  text-transform: uppercase;
  background: none;
}
.mat-list-item:hover{
  background: none;
}
.list-item-2{
  text-transform: capitalize;
  color: #aab7b8;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  padding-left: 0px !important;
  height: 40px !important;
}
.list-item-2:hover{
  text-transform: capitalize;
  color: #fff;
  // background-color: #fff;
  background: none;
  height: 40px !important;
  font-family: Montserrat;
  font-weight: 500;
}
.list-item-2:focus{
  background: none;
}
.menu-active{
  border-color: #f55b00 !important;
  border-left: 3px solid;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  // background-color: #e3e7ef;
}
.menu-active-welcome{
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: Montserrat;
}
.main-logo{
  height: 64px;
  background: url('../../../assets/images/logoTuCita247.svg');
  width: 113px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin: 0 auto;
}
.mat-toolbar-main {
  background: #fff;
  color: #f44f00;
  position: sticky;
  border-bottom: 2px solid #232f3e;
  height: 66px;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  left: 0;
  width: 100% !important;
}
.mat-expansion-panel-header-title{
  text-transform: capitalize;
  color: #aab7b8;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 30px;
}
.icon-option{
  position: absolute;
}
.mat-expansion-panel{
  box-shadow: none !important;
}
mat-accordion .mat-expansion-panel-header{
  padding-left: 16px;
}
mat-accordion .mat-expansion-panel{
  background-color: rgb(131 136 138 / 0%);
}
mat-accordion .mat-expansion-panel .mat-expansion-panel-body{
  padding-left: 16px !important;
  padding-bottom: 0px !important;
}
.submenu-item{
  padding: 0px !important;
  height: 30px !important;
}
.submenu-item:hover{
  background: none;
}
:host ::ng-deep mat-nav-list .submenu-item .mat-list-item-content{
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: rgb(131 136 138 / 0%);
}
// :host ::ng-deep .mat-accordion .mat-expansion-panel{
//   background-color: #f55b00;
//   color: #fff;
// }
.value-submenu-item{
  color: #aab7b8 !important;
  font-size: 14px;
  font-weight: 400;
}
.value-submenu-item:hover{
  color: #fff !important;
  font-size: 14px;
}
:host ::ng-deep .mat-expansion-panel .mat-expansion-panel-header{
  background: none !important;
}
// :host ::ng-deep .mat-expansion-panel .mat-expansion-panel-header-title:hover{
//   color: #fff !important;
// }
.title-text:hover{
  color: #fff !important;
}
.submenu-active{
  border-color: #f44f00 !important;
  border-left: 3px solid;
  margin-left: 0px !important;
  color: #fff !important;
  font-weight: 400;
  padding-left: 10px;
}
:host ::-webkit-scrollbar {
  width: 15px;
}
@media only screen and (orientation: portrait){
  @media(max-width: 700px){
    :host ::-webkit-scrollbar {
      width: 3px;
    }
  }
}
:host ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
:host ::-webkit-scrollbar-thumb {
  background: #232f3e;
  border-radius: 10px;
}
:host ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
:host ::ng-deep .mat-expansion-panel.mat-expanded{
  background: #f2f2f2;
}
:host ::ng-deep mat-sidenav-container .mat-sidenav .mat-drawer-inner-container{
  overflow: initial !important;
}
.input-search{
  font-size: 14px;
}
::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}