<ng-container *ngIf="savePoll$ | async"></ng-container>
<ng-container *ngIf="pollData$ | async"></ng-container>
<ng-container *ngIf="error == ''; else Error">
    <mat-card class="col-sm col-md col-lg-4 ml-3 mt-3" *ngIf="!savePoll">
        <div class="form-field pr-3">
            {{Name}}
        </div>
        <div class="panel-array col-md p-0 pt-3">
            <div class="happy-img mr-2" (click)="onSubmit(1)"></div>
            <div class="neutral-img mr-2" (click)="onSubmit(2)"></div>
            <div class="angry-img mr-2" (click)="onSubmit(3)"></div>
        </div>
    </mat-card>
    <div class="" *ngIf="savePoll" i18n="Poll saved successfull
    Thanks!!!|text in polls@@polls.thanks">
        Poll saved successfull
        Thanks!!!
    </div>
</ng-container>
<ng-template #Error>
    <div class="" *ngIf="savePoll" i18n="Poll is already inactive|text in polls@@polls.inactive">
        Poll is already inactive
    </div>
</ng-template>