::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}
.angry-img{
    height: 90px;
    background: url('../../../assets/images/angry.png');
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}
.happy-img{
    height: 90px;
    background: url('../../../assets/images/happy.png');
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}
.neutral-img{
    height: 90px;
    background: url('../../../assets/images/neutral.png');
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}