<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h3>POLLS</h3>
</div>
<ng-container *ngIf="savePoll$ | async"></ng-container>
<ng-container *ngIf="pollData$ | async"></ng-container>
<mat-card class="col-sm col-md col-lg-7" *ngIf="!savePoll">
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-field pl-3 pr-3">
            {{f.Name.value}}
        </div>
        <div class="panel-array col-md p-0 pt-3">
            <mat-horizontal-stepper formArrayName="Questions" linear>
                <mat-step [formGroupName]="i" *ngFor="let item of fQuestions.controls; let i=index" [stepControl]="item">
                    <div>
                        <div class="col-md-10">
                            {{item.get('Description').value}}
                        </div>
                        <mat-radio-group aria-label="Select an option" formControlName="Result">
                            <mat-radio-button value="1">Happy</mat-radio-button>
                            <mat-radio-button value="2">Neutral</mat-radio-button>
                            <mat-radio-button value="3">Angry</mat-radio-button>
                        </mat-radio-group>
                        <button *ngIf="i<noItems-1" [disabled]="item.get('Result').value == 0" mat-flat-button matStepperNext color="primary" type="button">Next</button>
                        <button *ngIf="i==noItems-1" [disabled]="item.get('Result').value == 0" mat-flat-button matStepperNext color="primary" type="submit">Save</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        {{ pollForm.value | json }}
    </form>
</mat-card>
<div class="" *ngIf="savePoll">
    Poll saved successfull
    Thanks!!!
</div>