.list-text{
    padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}
.list-scroll {
    max-height: 400px;
    overflow: auto;
}
.list-divider {
    position: unset !important;
}
.list-form{
    background: #fff;
}
.main-background{
    background: #F5F5F5;
    height: calc(100vh - 64px) !important;
}