<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h3 i18n="SERVICES|services title@@services.title">SERVICES</h3>
</div>
<ng-container *ngIf="service$ | async"></ng-container>
<ng-container *ngIf="saveService$ | async"></ng-container>
<div class="row p-0 m-0">
    <mat-card class="col-sm col-md col-lg-7">
        <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Name" i18n-hintLabel="Name@@shared.name">
                    <input matInput #Name i18n-placeholder="Name@@shared.name" placeholder="Name" maxlength="100" minlength="3" formControlName="Name"
                        [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.Name.invalid && f.Name.touched">{{getErrorMessage('Name')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Service duration" i18n-hintLabel="Service duration|text in services@@services.textduration">
                    <input matInput #Name i18n-placeholder="Service duration|text in services@@services.textduration" placeholder="Service duration" max="4" min="1" minlength="1" formControlName="TimeService"
                        [errorStateMatcher]="confirmValidParentMatcher" required>
                    <span matSuffix>hr</span>
                    <mat-error *ngIf="f.TimeService.invalid && f.TimeService.touched">{{getErrorMessage('TimeService')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Customer per Bucket" i18n-hintLabel="Customer per Bucket|text in services@@services.customerbucket">
                    <input matInput #Name i18n-placeholder="Customer per Bucket|text in services@@services.customerbucket" placeholder="Customer per Bucket" max="9999" min="1" formControlName="CustomerPerTime"
                        [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.CustomerPerTime.invalid && f.CustomerPerTime.touched">{{getErrorMessage('CustomerPerTime')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-form-field hintLabel="Customer per Booking" i18n-hintLabel="Customer per Booking|text in services@@services.customerbooking">
                    <input matInput #Name i18n-placeholder="Customer per Booking|text in services@@services.customerbooking" placeholder="Customer per Booking" max="9999" min="1" formControlName="CustomerPerBooking"
                        [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="f.CustomerPerBooking.invalid && f.CustomerPerBooking.touched">{{getErrorMessage('CustomerPerBooking')}}</mat-error>
                </mat-form-field>
                <mat-error *ngIf="serviceForm.errors?.greaterthan">{{getErrorMessage('GreaterThan')}}</mat-error>
            </div>
            <div class="form-field pl-3 pr-3">
                <mat-radio-group formControlName="Color" required>
                    <mat-radio-button class="mb-2" *ngFor="let item of palette" [value]="item.id"><div class="square-color" [ngStyle]="{'background': item.value}"></div></mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-field-check ml-3 pr-3"
                *ngIf="serviceForm.value.ServiceId !== '' && serviceForm.value.ServiceId !== null">
                <mat-checkbox formControlName="Status" i18n="Status@@shared.status">Status</mat-checkbox>
            </div>
            <div>
                <button mat-flat-button color="primary" id="save" [disabled]="!serviceForm.valid"
                    class="button-action ml-3 mr-3 mt-2" i18n="Save@@shared.save">Save</button>
                <button mat-flat-button color="accent" id="cancel" type="button" i18n="Cancel@@shared.cancel" (click)="onCancel()"
                    class="button-action mt-2">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>