<ng-container *ngIf="(deleteUser$ | async) && deletingUser"></ng-container>
<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h3>USERS</h3>
</div>
<div class="list-cards">
    <ng-container *ngIf="message$ | async">
        <mat-list *ngIf="onError==''" class="items-list">
            <ng-container *ngFor="let user of users$ | async; trackBy: trackById">
                <mat-list-item>
                    <div class="pr-0 pl-0 col-md-6">
                        <p class="mb-1" mat-line>{{ user.First_Name + ' ' + user.Last_Name}}</p>
                    </div>
                    <div class="pr-0 pl-0 col-md">
                        <button mat-icon-button class="icon-active" (click)="onSelect(user)">
                            <mat-icon class="action-btn" svgIcon="edit"></mat-icon>
                        </button>
                        <button mat-icon-button class="icon-active" (click)="onDelete(user)">
                            <mat-icon class="action-btn" svgIcon="delete"></mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
        <div *ngIf="onError!=''">
            <span>{{onError}}</span>
        </div>
    </ng-container>
</div>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]= "[5, 10, 25, 100]"
              (page)="goToPage($event.pageIndex, $event.pageSize)">
</mat-paginator>