<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
        <div class="img-back"></div>
        <div class="col-md-6 offset-md-3 rounded login-form">
            <div class="row align-items-center border rounded">
                <div class="overlay-login" *ngIf="loading">
                    <mat-progress-spinner class="spinner-login" matSuffix [diameter]="60" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <div class="col-md-5 panel-lt-login pl-2 pr-2 pt-2 pb-2"></div>
                <div class="col-md-7 panel-rt-login pl-4 pr-4 pt-4 pb-4">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="!showAuth">
                            <h2>User Login</h2>
                            <div class="mb-0 form-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="f.email.invalid">{{getErrorMessage('Email')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-0 form-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput placeholder="Password" formControlName="password"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="f.password.invalid">{{getErrorMessage('Password')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="login-forgot"><a class="" [routerLink]="['/forgotpassword']">Forgot your password ?</a></div>
                        </div>
                        <div *ngIf="showAuth">
                            <h2>Type Key</h2>
                            <div class="mb-0 form-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Auth Code</mat-label>
                                    <input matInput placeholder="" formControlName="authcode" max="999999" min="000001" maxlength="6" minlength="6"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="f.authcode.invalid">{{getErrorMessage('AuthCode')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-flat-button color="primary" id="save" [disabled]="loading" class="mr-3 mt-2">Sign Up
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>