/* You can add global styles to this file, and also import other style files */
@import './assets/scss/variables.scss';

@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import '../node_modules/bootstrap/scss/_utilities.scss';
@import './assets/scss/reset.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}
button.mat-flat-button {
    border-radius: 0;
}
button.mat-stroked-button{
    border-radius: 0;
}
.mat-flat-button.mat-primary{
    color: #ffffff;
}
.mat-stroked-button:not([disabled]){
    border-color:#ff4f00;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Montserrat;
    letter-spacing: 0px;
    width:100%;
    padding-bottom: 1.25rem;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
    color: #ff4f00;
}
.mat-form-field-prefix{
    color: #ff4f00;
}
.mat-checkbox{
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.label-overlay{
    left: 50%;
    top: 70%;
    position: absolute;
    color: blue;
}
.form-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
}
.overlay{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.418);
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
}
.form-field{
    margin-bottom: 0px;
}
.form-field-check{
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }

.grid-card{
    max-width: 400px;
    min-width: 300px;
    display: inline-block !important; 
}
.list-item{
    width: 100%; 
    display: flex; 
}
mat-error{
    font-weight: 600;
}
.print-area{
    display: none;
}
.qr-img{
    height: 450px !important;
    width: 450px !important;
}
.qr-style{
    margin-top: 38px;
    margin-bottom: 38px;
}
.qr-title{
    text-align: center;
}
.qr-text{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 66px;
    line-height: 66px;
}
.qr-link{
    display: inline;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 29px;
    line-height: 29px;
}
@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    .display-area{
        display: none !important;
    }
    .print-area{
        display: block;
        min-height: 920px;
        height: 920px;
        overflow: visible;
        // position:relative;
        // top: -30px;
        margin:auto;
    }
    .init-pos{
        position:relative;
        top: 10px;
    }
    .cdk-overlay-dark-backdrop{
        background: #fff;
    }
    .mat-dialog-container{
        box-shadow: none;
    }
}
@import '~@angular/material/theming';

//Barra de mensajes de alerte igual a Google
@mixin snackBar-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $primary-text: mat-color(map-get($theme, primary), default-contrast);
  $warn: mat-color(map-get($theme, warn));
  $warn-text: mat-color(map-get($theme, warn), default-contrast);

  .style-succes {
      color: $primary-text;
      background-color: $primary;
  }
  .style-succes .mat-simple-snackbar-action  {
      color: $primary-text;
  }
  .style-error {
      color: $warn-text;
      background-color: $warn;
  }
  .style-error .mat-simple-snackbar-action {
      color: $warn-text;
  }
}