<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h3>POLLS</h3>
</div>
<ng-container *ngIf="deletePoll$ | async"></ng-container>
<ng-container *ngIf="polls$ | async"></ng-container>
<form [formGroup]="pollForm">
    <mat-table [dataSource]="fPolls.controls" formArrayName="Polls" [trackBy]="trackRow"
        class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef class="col-md-8"> Name </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index" class="col-md-8">
                {{element.value.Name}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DatePoll">
            <mat-header-cell *matHeaderCellDef class="col-md-3"> Date Poll </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index" class="col-md-3">
                {{element.value.DatePoll}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef class="col-md-1"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index" class="col-md-1 mat-column-Actions">
                <button mat-icon-button class="icon-active" (click)="onSelect(element.value.PollId)">
                    <mat-icon svgIcon="edit"></mat-icon>
                </button>
                <button mat-icon-button class="icon-active" (click)="onDelete(element, i)">
                    <mat-icon svgIcon="delete"></mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index"></mat-row>
    </mat-table>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</form>  
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]= "[5, 10, 25, 100]"
              (page)="goToPage($event.pageIndex, $event.pageSize)">
</mat-paginator>